<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>EXPO_app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
</head>
<body>
{% if user.is_authenticated %}
<div class="ui vertical inverted left visible sidebar menu">

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> Thing</a>

<a  href="{% url 'EXPO_app:ArtifactList'%}" class="item"> Artifact</a>

<a  href="{% url 'EXPO_app:NameList'%}" class="item"> Name</a>

<a  href="{% url 'EXPO_app:ExperimentalDesignList'%}" class="item"> ExperimentalDesign</a>

<a  href="{% url 'EXPO_app:IDExperimentList'%}" class="item"> IDExperiment</a>

<a  href="{% url 'EXPO_app:ResultsInterpretationList'%}" class="item"> ResultsInterpretation</a>

<a  href="{% url 'EXPO_app:ActionNameList'%}" class="item"> ActionName</a>

<a  href="{% url 'EXPO_app:ActionComplexityList'%}" class="item"> ActionComplexity</a>

<a  href="{% url 'EXPO_app:AdminInfoAuthorList'%}" class="item"> AdminInfoAuthor</a>

<a  href="{% url 'EXPO_app:AdminInfoObjectOfExperimentList'%}" class="item"> AdminInfoObjectOfExperiment</a>

<a  href="{% url 'EXPO_app:AdminInfoProviderList'%}" class="item"> AdminInfoProvider</a>

<a  href="{% url 'EXPO_app:AdminInfoSubmitterList'%}" class="item"> AdminInfoSubmitter</a>

<a  href="{% url 'EXPO_app:AdminInfoUserList'%}" class="item"> AdminInfoUser</a>

<a  href="{% url 'EXPO_app:MethodApplicabilityConditionList'%}" class="item"> MethodApplicabilityCondition</a>

<a  href="{% url 'EXPO_app:ClassificationOfDomainsList'%}" class="item"> ClassificationOfDomains</a>

<a  href="{% url 'EXPO_app:ClassificationOfExperimentsList'%}" class="item"> ClassificationOfExperiments</a>

<a  href="{% url 'EXPO_app:HypothesisComplexityList'%}" class="item"> HypothesisComplexity</a>

<a  href="{% url 'EXPO_app:PropositionList'%}" class="item"> Proposition</a>

<a  href="{% url 'EXPO_app:TechnicalDescriptionList'%}" class="item"> TechnicalDescription</a>

<a  href="{% url 'EXPO_app:ObservationalErrorList'%}" class="item"> ObservationalError</a>

<a  href="{% url 'EXPO_app:ResultErrorList'%}" class="item"> ResultError</a>

<a  href="{% url 'EXPO_app:ResultsEvaluationList'%}" class="item"> ResultsEvaluation</a>

<a  href="{% url 'EXPO_app:ExperimentalFactorList'%}" class="item"> ExperimentalFactor</a>

<a  href="{% url 'EXPO_app:ExperimentalRequirementsList'%}" class="item"> ExperimentalRequirements</a>

<a  href="{% url 'EXPO_app:HypothesisExplicitnessList'%}" class="item"> HypothesisExplicitness</a>

<a  href="{% url 'EXPO_app:LinguisticExpressionList'%}" class="item"> LinguisticExpression</a>

<a  href="{% url 'EXPO_app:FactRejectResearchHypothesisList'%}" class="item"> FactRejectResearchHypothesis</a>

<a  href="{% url 'EXPO_app:FactSupportResearchHypothesisList'%}" class="item"> FactSupportResearchHypothesis</a>

<a  href="{% url 'EXPO_app:NumberList'%}" class="item"> Number</a>

<a  href="{% url 'EXPO_app:GeneralityOfHypothesisList'%}" class="item"> GeneralityOfHypothesis</a>

<a  href="{% url 'EXPO_app:ActionGoalList'%}" class="item"> ActionGoal</a>

<a  href="{% url 'EXPO_app:MethodGoalList'%}" class="item"> MethodGoal</a>

<a  href="{% url 'EXPO_app:HypothesisFormationList'%}" class="item"> HypothesisFormation</a>

<a  href="{% url 'EXPO_app:HypothesisRepresentationList'%}" class="item"> HypothesisRepresentation</a>

<a  href="{% url 'EXPO_app:InformationGetheringList'%}" class="item"> InformationGethering</a>

<a  href="{% url 'EXPO_app:SampleList'%}" class="item"> Sample</a>

<a  href="{% url 'EXPO_app:VariabilityList'%}" class="item"> Variability</a>

<a  href="{% url 'EXPO_app:TimePointList'%}" class="item"> TimePoint</a>

<a  href="{% url 'EXPO_app:LoginNameList'%}" class="item"> LoginName</a>

<a  href="{% url 'EXPO_app:DomainModelList'%}" class="item"> DomainModel</a>

<a  href="{% url 'EXPO_app:GroupExperimentalObjectList'%}" class="item"> GroupExperimentalObject</a>

<a  href="{% url 'EXPO_app:StatisticsCharacteristicList'%}" class="item"> StatisticsCharacteristic</a>

<a  href="{% url 'EXPO_app:ParentGroupList'%}" class="item"> ParentGroup</a>

<a  href="{% url 'EXPO_app:PasswordList'%}" class="item"> Password</a>

<a  href="{% url 'EXPO_app:PlanOfExperimentalActionsList'%}" class="item"> PlanOfExperimentalActions</a>

<a  href="{% url 'EXPO_app:PoblemAnalysisList'%}" class="item"> PoblemAnalysis</a>

<a  href="{% url 'EXPO_app:SubjectQualificationList'%}" class="item"> SubjectQualification</a>

<a  href="{% url 'EXPO_app:BiblioReferenceList'%}" class="item"> BiblioReference</a>

<a  href="{% url 'EXPO_app:ModelRepresentationList'%}" class="item"> ModelRepresentation</a>

<a  href="{% url 'EXPO_app:RepresentationExperimentalExecutionProcedureList'%}" class="item"> RepresentationExperimentalExecutionProcedure</a>

<a  href="{% url 'EXPO_app:RepresentationExperimentalGoalList'%}" class="item"> RepresentationExperimentalGoal</a>

<a  href="{% url 'EXPO_app:SampleRepresentativenessList'%}" class="item"> SampleRepresentativeness</a>

<a  href="{% url 'EXPO_app:SampleSizeList'%}" class="item"> SampleSize</a>

<a  href="{% url 'EXPO_app:SamplingMethodList'%}" class="item"> SamplingMethod</a>

<a  href="{% url 'EXPO_app:SamplingRuleList'%}" class="item"> SamplingRule</a>

<a  href="{% url 'EXPO_app:ExperimentalStandardList'%}" class="item"> ExperimentalStandard</a>

<a  href="{% url 'EXPO_app:DispersionList'%}" class="item"> Dispersion</a>

<a  href="{% url 'EXPO_app:LevelOfSignificanceList'%}" class="item"> LevelOfSignificance</a>

<a  href="{% url 'EXPO_app:StatusExperimentalDocumentList'%}" class="item"> StatusExperimentalDocument</a>

<a  href="{% url 'EXPO_app:ExperimentalDesignStrategyList'%}" class="item"> ExperimentalDesignStrategy</a>

<a  href="{% url 'EXPO_app:ExperimentalSubgoalList'%}" class="item"> ExperimentalSubgoal</a>

<a  href="{% url 'EXPO_app:SubjectMethodList'%}" class="item"> SubjectMethod</a>

<a  href="{% url 'EXPO_app:TargetVariableList'%}" class="item"> TargetVariable</a>

<a  href="{% url 'EXPO_app:TitleList'%}" class="item"> Title</a>

<a  href="{% url 'EXPO_app:ValueOfVariableList'%}" class="item"> ValueOfVariable</a>

<a  href="{% url 'EXPO_app:RoleList'%}" class="item"> Role</a>

<a  href="{% url 'EXPO_app:CorpuscularObjectList'%}" class="item"> CorpuscularObject</a>

<a  href="{% url 'EXPO_app:AttributeRoleList'%}" class="item"> AttributeRole</a>

<a  href="{% url 'EXPO_app:AttributeList'%}" class="item"> Attribute</a>

<a  href="{% url 'EXPO_app:ProcedureList'%}" class="item"> Procedure</a>

<a  href="{% url 'EXPO_app:AdministrativeInformationList'%}" class="item"> AdministrativeInformation</a>

<a  href="{% url 'EXPO_app:TitleExperimentList'%}" class="item"> TitleExperiment</a>

<a  href="{% url 'EXPO_app:NameEquipmentList'%}" class="item"> NameEquipment</a>

<a  href="{% url 'EXPO_app:PersonalNameList'%}" class="item"> PersonalName</a>

<a  href="{% url 'EXPO_app:FieldOfStudyList'%}" class="item"> FieldOfStudy</a>

<a  href="{% url 'EXPO_app:RelatedDomainList'%}" class="item"> RelatedDomain</a>

<a  href="{% url 'EXPO_app:ProductRoleList'%}" class="item"> ProductRole</a>

<a  href="{% url 'EXPO_app:ScientificTaskList'%}" class="item"> ScientificTask</a>

<a  href="{% url 'EXPO_app:ExecutionOfExperimentList'%}" class="item"> ExecutionOfExperiment</a>

<a  href="{% url 'EXPO_app:CorporateNameList'%}" class="item"> CorporateName</a>

<a  href="{% url 'EXPO_app:AttributeOfActionList'%}" class="item"> AttributeOfAction</a>

<a  href="{% url 'EXPO_app:SentientAgentList'%}" class="item"> SentientAgent</a>

<a  href="{% url 'EXPO_app:RobotList'%}" class="item"> Robot</a>

<a  href="{% url 'EXPO_app:GroupList'%}" class="item"> Group</a>

<a  href="{% url 'EXPO_app:EntityList'%}" class="item"> Entity</a>

<a  href="{% url 'EXPO_app:ResearchMethodList'%}" class="item"> ResearchMethod</a>

<a  href="{% url 'EXPO_app:RequirementsList'%}" class="item"> Requirements</a>

<a  href="{% url 'EXPO_app:AuthorSOPList'%}" class="item"> AuthorSOP</a>

<a  href="{% url 'EXPO_app:SubjectRoleList'%}" class="item"> SubjectRole</a>

<a  href="{% url 'EXPO_app:ClassificationList'%}" class="item"> Classification</a>

<a  href="{% url 'EXPO_app:FactList'%}" class="item"> Fact</a>

<a  href="{% url 'EXPO_app:ModelAssumptionList'%}" class="item"> ModelAssumption</a>

<a  href="{% url 'EXPO_app:VariableList'%}" class="item"> Variable</a>

<a  href="{% url 'EXPO_app:AttributeOfHypothesisList'%}" class="item"> AttributeOfHypothesis</a>

<a  href="{% url 'EXPO_app:ContentBearingObjectList'%}" class="item"> ContentBearingObject</a>

<a  href="{% url 'EXPO_app:AbstractList'%}" class="item"> Abstract</a>

<a  href="{% url 'EXPO_app:QuantityList'%}" class="item"> Quantity</a>

<a  href="{% url 'EXPO_app:RelationList'%}" class="item"> Relation</a>

<a  href="{% url 'EXPO_app:ContentBearingPhysicalList'%}" class="item"> ContentBearingPhysical</a>

<a  href="{% url 'EXPO_app:PhysicalQuantityList'%}" class="item"> PhysicalQuantity</a>

<a  href="{% url 'EXPO_app:GoalList'%}" class="item"> Goal</a>

<a  href="{% url 'EXPO_app:RepresentationExperimentalObservationList'%}" class="item"> RepresentationExperimentalObservation</a>

<a  href="{% url 'EXPO_app:RepresentationExperimentalResultsList'%}" class="item"> RepresentationExperimentalResults</a>

<a  href="{% url 'EXPO_app:AttributeGroupList'%}" class="item"> AttributeGroup</a>

<a  href="{% url 'EXPO_app:TimePositionList'%}" class="item"> TimePosition</a>

<a  href="{% url 'EXPO_app:ActorRoleList'%}" class="item"> ActorRole</a>

<a  href="{% url 'EXPO_app:DocumentStageList'%}" class="item"> DocumentStage</a>

<a  href="{% url 'EXPO_app:PermissionStatusList'%}" class="item"> PermissionStatus</a>

<a  href="{% url 'EXPO_app:PlanList'%}" class="item"> Plan</a>

<a  href="{% url 'EXPO_app:ReferenceList'%}" class="item"> Reference</a>

<a  href="{% url 'EXPO_app:AttributeSampleList'%}" class="item"> AttributeSample</a>

<a  href="{% url 'EXPO_app:ExperimentalRuleList'%}" class="item"> ExperimentalRule</a>

<a  href="{% url 'EXPO_app:RobustnessList'%}" class="item"> Robustness</a>

<a  href="{% url 'EXPO_app:ValidityList'%}" class="item"> Validity</a>

<a  href="{% url 'EXPO_app:AttributeOfDocumentList'%}" class="item"> AttributeOfDocument</a>

<a  href="{% url 'EXPO_app:PhysicalExperimentList'%}" class="item"> PhysicalExperiment</a>

<a  href="{% url 'EXPO_app:ComputationalDataList'%}" class="item"> ComputationalData</a>

<a  href="{% url 'EXPO_app:PredicateList'%}" class="item"> Predicate</a>

<a  href="{% url 'EXPO_app:SelfConnectedObjectList'%}" class="item"> SelfConnectedObject</a>

<a  href="{% url 'EXPO_app:ScientificActivityList'%}" class="item"> ScientificActivity</a>

<a  href="{% url 'EXPO_app:FormingClassificationSystemList'%}" class="item"> FormingClassificationSystem</a>

<a  href="{% url 'EXPO_app:HypothesisFormingList'%}" class="item"> HypothesisForming</a>

<a  href="{% url 'EXPO_app:InterpretingResultList'%}" class="item"> InterpretingResult</a>

<a  href="{% url 'EXPO_app:ProcessProblemAnalysisList'%}" class="item"> ProcessProblemAnalysis</a>

<a  href="{% url 'EXPO_app:ResultEvaluatingList'%}" class="item"> ResultEvaluating</a>

<a  href="{% url 'EXPO_app:AttributeOfModelList'%}" class="item"> AttributeOfModel</a>

<a  href="{% url 'EXPO_app:AttributeOfVariableList'%}" class="item"> AttributeOfVariable</a>

<a  href="{% url 'EXPO_app:AgentList'%}" class="item"> Agent</a>

<a  href="{% url 'EXPO_app:CollectionList'%}" class="item"> Collection</a>

<a  href="{% url 'EXPO_app:EperimentalDesignTaskList'%}" class="item"> EperimentalDesignTask</a>

<a  href="{% url 'EXPO_app:PhysicalList'%}" class="item"> Physical</a>

<a  href="{% url 'EXPO_app:ObjectList'%}" class="item"> Object</a>

<a  href="{% url 'EXPO_app:ProcessList'%}" class="item"> Process</a>

<a  href="{% url 'EXPO_app:TaskRoleList'%}" class="item"> TaskRole</a>

<a  href="{% url 'EXPO_app:TimeMeasureList'%}" class="item"> TimeMeasure</a>

<a  href="{% url 'EXPO_app:AbductiveHypothesisList'%}" class="item"> AbductiveHypothesis</a>

<a  href="{% url 'EXPO_app:InductiveHypothesisList'%}" class="item"> InductiveHypothesis</a>

<a  href="{% url 'EXPO_app:AdequacyList'%}" class="item"> Adequacy</a>

<a  href="{% url 'EXPO_app:AlternativeHypothesisList'%}" class="item"> AlternativeHypothesis</a>

<a  href="{% url 'EXPO_app:NullHypothesisList'%}" class="item"> NullHypothesis</a>

<a  href="{% url 'EXPO_app:ResearchHypothesisList'%}" class="item"> ResearchHypothesis</a>

<a  href="{% url 'EXPO_app:ArticleList'%}" class="item"> Article</a>

<a  href="{% url 'EXPO_app:TextList'%}" class="item"> Text</a>

<a  href="{% url 'EXPO_app:ArtificialLanguageList'%}" class="item"> ArtificialLanguage</a>

<a  href="{% url 'EXPO_app:LanguageList'%}" class="item"> Language</a>

<a  href="{% url 'EXPO_app:HumanLanguageList'%}" class="item"> HumanLanguage</a>

<a  href="{% url 'EXPO_app:SentenceList'%}" class="item"> Sentence</a>

<a  href="{% url 'EXPO_app:AtomicActionList'%}" class="item"> AtomicAction</a>

<a  href="{% url 'EXPO_app:ComplexActionList'%}" class="item"> ComplexAction</a>

<a  href="{% url 'EXPO_app:AuthorProtocolList'%}" class="item"> AuthorProtocol</a>

<a  href="{% url 'EXPO_app:BookList'%}" class="item"> Book</a>

<a  href="{% url 'EXPO_app:CalculableVariableList'%}" class="item"> CalculableVariable</a>

<a  href="{% url 'EXPO_app:CapacityRequirementsList'%}" class="item"> CapacityRequirements</a>

<a  href="{% url 'EXPO_app:EnvironmentalRequirementsList'%}" class="item"> EnvironmentalRequirements</a>

<a  href="{% url 'EXPO_app:FinancialRequirementsList'%}" class="item"> FinancialRequirements</a>

<a  href="{% url 'EXPO_app:ClassificationByDomainList'%}" class="item"> ClassificationByDomain</a>

<a  href="{% url 'EXPO_app:ClassifyingList'%}" class="item"> Classifying</a>

<a  href="{% url 'EXPO_app:DesigningExperimentList'%}" class="item"> DesigningExperiment</a>

<a  href="{% url 'EXPO_app:CoarseErrorList'%}" class="item"> CoarseError</a>

<a  href="{% url 'EXPO_app:MeasurementErrorList'%}" class="item"> MeasurementError</a>

<a  href="{% url 'EXPO_app:ComparisonControl_TargetGroupsList'%}" class="item"> ComparisonControl_TargetGroups</a>

<a  href="{% url 'EXPO_app:PairedComparisonList'%}" class="item"> PairedComparison</a>

<a  href="{% url 'EXPO_app:PairedComparisonOfMatchingGroupsList'%}" class="item"> PairedComparisonOfMatchingGroups</a>

<a  href="{% url 'EXPO_app:PairedComparisonOfSingleSampleGroupsList'%}" class="item"> PairedComparisonOfSingleSampleGroups</a>

<a  href="{% url 'EXPO_app:QualityControlList'%}" class="item"> QualityControl</a>

<a  href="{% url 'EXPO_app:ComplexHypothesisList'%}" class="item"> ComplexHypothesis</a>

<a  href="{% url 'EXPO_app:SingleHypothesisList'%}" class="item"> SingleHypothesis</a>

<a  href="{% url 'EXPO_app:ComputationalExperimentList'%}" class="item"> ComputationalExperiment</a>

<a  href="{% url 'EXPO_app:ComputeGoalList'%}" class="item"> ComputeGoal</a>

<a  href="{% url 'EXPO_app:ConfirmGoalList'%}" class="item"> ConfirmGoal</a>

<a  href="{% url 'EXPO_app:ExplainGoalList'%}" class="item"> ExplainGoal</a>

<a  href="{% url 'EXPO_app:InvestigateGoalList'%}" class="item"> InvestigateGoal</a>

<a  href="{% url 'EXPO_app:ComputerSimulationList'%}" class="item"> ComputerSimulation</a>

<a  href="{% url 'EXPO_app:ConstantQuantityList'%}" class="item"> ConstantQuantity</a>

<a  href="{% url 'EXPO_app:ControllabilityList'%}" class="item"> Controllability</a>

<a  href="{% url 'EXPO_app:IndependenceList'%}" class="item"> Independence</a>

<a  href="{% url 'EXPO_app:DBReferenceList'%}" class="item"> DBReference</a>

<a  href="{% url 'EXPO_app:DDC_Dewey_ClassificationList'%}" class="item"> DDC_Dewey_Classification</a>

<a  href="{% url 'EXPO_app:LibraryOfCongressClassificationList'%}" class="item"> LibraryOfCongressClassification</a>

<a  href="{% url 'EXPO_app:NLMClassificationList'%}" class="item"> NLMClassification</a>

<a  href="{% url 'EXPO_app:ResearchCouncilsUKClassificationList'%}" class="item"> ResearchCouncilsUKClassification</a>

<a  href="{% url 'EXPO_app:DataRepresentationStandardList'%}" class="item"> DataRepresentationStandard</a>

<a  href="{% url 'EXPO_app:DegreeOfModelList'%}" class="item"> DegreeOfModel</a>

<a  href="{% url 'EXPO_app:DynamismOfModelList'%}" class="item"> DynamismOfModel</a>

<a  href="{% url 'EXPO_app:DependentVariableList'%}" class="item"> DependentVariable</a>

<a  href="{% url 'EXPO_app:DeviceList'%}" class="item"> Device</a>

<a  href="{% url 'EXPO_app:DomainActionList'%}" class="item"> DomainAction</a>

<a  href="{% url 'EXPO_app:DoseResponseList'%}" class="item"> DoseResponse</a>

<a  href="{% url 'EXPO_app:Normal_DiseaseList'%}" class="item"> Normal_Disease</a>

<a  href="{% url 'EXPO_app:TimeCourseList'%}" class="item"> TimeCourse</a>

<a  href="{% url 'EXPO_app:Treated_UntreatedList'%}" class="item"> Treated_Untreated</a>

<a  href="{% url 'EXPO_app:DraftStatusList'%}" class="item"> DraftStatus</a>

<a  href="{% url 'EXPO_app:DuhemEffectList'%}" class="item"> DuhemEffect</a>

<a  href="{% url 'EXPO_app:ExperimentalDesignEffectList'%}" class="item"> ExperimentalDesignEffect</a>

<a  href="{% url 'EXPO_app:InstrumentationEffectList'%}" class="item"> InstrumentationEffect</a>

<a  href="{% url 'EXPO_app:ObjectEffectList'%}" class="item"> ObjectEffect</a>

<a  href="{% url 'EXPO_app:SubjectEffectList'%}" class="item"> SubjectEffect</a>

<a  href="{% url 'EXPO_app:TimeEffectList'%}" class="item"> TimeEffect</a>

<a  href="{% url 'EXPO_app:DynamicModelList'%}" class="item"> DynamicModel</a>

<a  href="{% url 'EXPO_app:StaticModelList'%}" class="item"> StaticModel</a>

<a  href="{% url 'EXPO_app:ErrorOfConclusionList'%}" class="item"> ErrorOfConclusion</a>

<a  href="{% url 'EXPO_app:ExperimentalActionsPlanningList'%}" class="item"> ExperimentalActionsPlanning</a>

<a  href="{% url 'EXPO_app:ExperimentalEquipmentSelectingList'%}" class="item"> ExperimentalEquipmentSelecting</a>

<a  href="{% url 'EXPO_app:ExperimentalModelDesignList'%}" class="item"> ExperimentalModelDesign</a>

<a  href="{% url 'EXPO_app:ExperimentalObjectSelectingList'%}" class="item"> ExperimentalObjectSelecting</a>

<a  href="{% url 'EXPO_app:ExperimentalConclusionList'%}" class="item"> ExperimentalConclusion</a>

<a  href="{% url 'EXPO_app:ExperimentalProtocolList'%}" class="item"> ExperimentalProtocol</a>

<a  href="{% url 'EXPO_app:ExperimenteeBiasList'%}" class="item"> ExperimenteeBias</a>

<a  href="{% url 'EXPO_app:HawthorneEffectList'%}" class="item"> HawthorneEffect</a>

<a  href="{% url 'EXPO_app:MortalityEffectList'%}" class="item"> MortalityEffect</a>

<a  href="{% url 'EXPO_app:ExperimenterBiasList'%}" class="item"> ExperimenterBias</a>

<a  href="{% url 'EXPO_app:TestingEffectList'%}" class="item"> TestingEffect</a>

<a  href="{% url 'EXPO_app:ExplicitHypothesisList'%}" class="item"> ExplicitHypothesis</a>

<a  href="{% url 'EXPO_app:ImplicitHypothesisList'%}" class="item"> ImplicitHypothesis</a>

<a  href="{% url 'EXPO_app:FactorLevelList'%}" class="item"> FactorLevel</a>

<a  href="{% url 'EXPO_app:FactorialDesignList'%}" class="item"> FactorialDesign</a>

<a  href="{% url 'EXPO_app:FalseNegativeList'%}" class="item"> FalseNegative</a>

<a  href="{% url 'EXPO_app:HypothesisAcceptanceMistakeList'%}" class="item"> HypothesisAcceptanceMistake</a>

<a  href="{% url 'EXPO_app:FalsePpositiveList'%}" class="item"> FalsePpositive</a>

<a  href="{% url 'EXPO_app:FaultyComparisonList'%}" class="item"> FaultyComparison</a>

<a  href="{% url 'EXPO_app:FormulaList'%}" class="item"> Formula</a>

<a  href="{% url 'EXPO_app:GalileanExperimentList'%}" class="item"> GalileanExperiment</a>

<a  href="{% url 'EXPO_app:HandToolList'%}" class="item"> HandTool</a>

<a  href="{% url 'EXPO_app:ToolList'%}" class="item"> Tool</a>

<a  href="{% url 'EXPO_app:HardwareList'%}" class="item"> Hardware</a>

<a  href="{% url 'EXPO_app:HistoryEffectList'%}" class="item"> HistoryEffect</a>

<a  href="{% url 'EXPO_app:MaturationEffectList'%}" class="item"> MaturationEffect</a>

<a  href="{% url 'EXPO_app:ImageList'%}" class="item"> Image</a>

<a  href="{% url 'EXPO_app:ImproperSamplingList'%}" class="item"> ImproperSampling</a>

<a  href="{% url 'EXPO_app:IncompleteDataErrorList'%}" class="item"> IncompleteDataError</a>

<a  href="{% url 'EXPO_app:IndependentVariableList'%}" class="item"> IndependentVariable</a>

<a  href="{% url 'EXPO_app:InferableVariableList'%}" class="item"> InferableVariable</a>

<a  href="{% url 'EXPO_app:InternalStatusList'%}" class="item"> InternalStatus</a>

<a  href="{% url 'EXPO_app:RestrictedStatusList'%}" class="item"> RestrictedStatus</a>

<a  href="{% url 'EXPO_app:JournalList'%}" class="item"> Journal</a>

<a  href="{% url 'EXPO_app:LinearModelList'%}" class="item"> LinearModel</a>

<a  href="{% url 'EXPO_app:NonlinearModelList'%}" class="item"> NonlinearModel</a>

<a  href="{% url 'EXPO_app:LogicalModelRepresentationList'%}" class="item"> LogicalModelRepresentation</a>

<a  href="{% url 'EXPO_app:MachineList'%}" class="item"> Machine</a>

<a  href="{% url 'EXPO_app:MachineToolList'%}" class="item"> MachineTool</a>

<a  href="{% url 'EXPO_app:MagazineList'%}" class="item"> Magazine</a>

<a  href="{% url 'EXPO_app:MaterialsList'%}" class="item"> Materials</a>

<a  href="{% url 'EXPO_app:MathematicalModelRepresentationList'%}" class="item"> MathematicalModelRepresentation</a>

<a  href="{% url 'EXPO_app:MetabolomicExperimentList'%}" class="item"> MetabolomicExperiment</a>

<a  href="{% url 'EXPO_app:MethodsComparisonList'%}" class="item"> MethodsComparison</a>

<a  href="{% url 'EXPO_app:SubjectsComparisonList'%}" class="item"> SubjectsComparison</a>

<a  href="{% url 'EXPO_app:MicroarrayExperimentList'%}" class="item"> MicroarrayExperiment</a>

<a  href="{% url 'EXPO_app:NaturalLanguageList'%}" class="item"> NaturalLanguage</a>

<a  href="{% url 'EXPO_app:NonRestrictedStatusList'%}" class="item"> NonRestrictedStatus</a>

<a  href="{% url 'EXPO_app:NormalizationStrategyList'%}" class="item"> NormalizationStrategy</a>

<a  href="{% url 'EXPO_app:ObjectMethodList'%}" class="item"> ObjectMethod</a>

<a  href="{% url 'EXPO_app:ObjectOfActionList'%}" class="item"> ObjectOfAction</a>

<a  href="{% url 'EXPO_app:ObservableVariableList'%}" class="item"> ObservableVariable</a>

<a  href="{% url 'EXPO_app:PaperList'%}" class="item"> Paper</a>

<a  href="{% url 'EXPO_app:ParticlePhysicsExperimentList'%}" class="item"> ParticlePhysicsExperiment</a>

<a  href="{% url 'EXPO_app:PresentingSamplingList'%}" class="item"> PresentingSampling</a>

<a  href="{% url 'EXPO_app:ProceedingsList'%}" class="item"> Proceedings</a>

<a  href="{% url 'EXPO_app:ProgramList'%}" class="item"> Program</a>

<a  href="{% url 'EXPO_app:ProteomicExperimentList'%}" class="item"> ProteomicExperiment</a>

<a  href="{% url 'EXPO_app:PublicAcademicStatusList'%}" class="item"> PublicAcademicStatus</a>

<a  href="{% url 'EXPO_app:PublicStatusList'%}" class="item"> PublicStatus</a>

<a  href="{% url 'EXPO_app:RandomErrorList'%}" class="item"> RandomError</a>

<a  href="{% url 'EXPO_app:RandomSamplingList'%}" class="item"> RandomSampling</a>

<a  href="{% url 'EXPO_app:RecommendationSatusList'%}" class="item"> RecommendationSatus</a>

<a  href="{% url 'EXPO_app:RecordingActionList'%}" class="item"> RecordingAction</a>

<a  href="{% url 'EXPO_app:RegionList'%}" class="item"> Region</a>

<a  href="{% url 'EXPO_app:RepresenationalMediumList'%}" class="item"> RepresenationalMedium</a>

<a  href="{% url 'EXPO_app:SUMOSynonymList'%}" class="item"> SUMOSynonym</a>

<a  href="{% url 'EXPO_app:SampleFormingList'%}" class="item"> SampleForming</a>

<a  href="{% url 'EXPO_app:SequentialDesignList'%}" class="item"> SequentialDesign</a>

<a  href="{% url 'EXPO_app:SoftwareList'%}" class="item"> Software</a>

<a  href="{% url 'EXPO_app:SoundList'%}" class="item"> Sound</a>

<a  href="{% url 'EXPO_app:SplitSamplesList'%}" class="item"> SplitSamples</a>

<a  href="{% url 'EXPO_app:SymmetricalMatchingList'%}" class="item"> SymmetricalMatching</a>

<a  href="{% url 'EXPO_app:StatisticalErrorList'%}" class="item"> StatisticalError</a>

<a  href="{% url 'EXPO_app:StratifiedSamplingList'%}" class="item"> StratifiedSampling</a>

<a  href="{% url 'EXPO_app:SubjectOfActionList'%}" class="item"> SubjectOfAction</a>

<a  href="{% url 'EXPO_app:SummaryList'%}" class="item"> Summary</a>

<a  href="{% url 'EXPO_app:SystematicErrorList'%}" class="item"> SystematicError</a>

<a  href="{% url 'EXPO_app:TechnicalReportList'%}" class="item"> TechnicalReport</a>

<a  href="{% url 'EXPO_app:TimeDurationList'%}" class="item"> TimeDuration</a>

<a  href="{% url 'EXPO_app:TimeIntervalList'%}" class="item"> TimeInterval</a>

<a  href="{% url 'EXPO_app:URLList'%}" class="item"> URL</a>

<a  href="{% url 'EXPO_app:DomainOfExperimentList'%}" class="item"> DomainOfExperiment</a>

<a  href="{% url 'EXPO_app:SynonymousExternalConceptList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;SynonymousExternalConcept</a>

<a  href="{% url 'EXPO_app:NameList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Name</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:ClassificationOfDomainsList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ClassificationOfDomains</a>

<a  href="{% url 'EXPO_app:DomainModelList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;DomainModel</a>

<a  href="{% url 'EXPO_app:ExperimentalObservationList'%}" class="item"> ExperimentalObservation</a>

<a  href="{% url 'EXPO_app:ResultsInterpretationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ResultsInterpretation</a>

<a  href="{% url 'EXPO_app:ObservationalErrorList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ObservationalError</a>

<a  href="{% url 'EXPO_app:StatisticsCharacteristicList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;StatisticsCharacteristic</a>

<a  href="{% url 'EXPO_app:ExperimentalActionList'%}" class="item"> ExperimentalAction</a>

<a  href="{% url 'EXPO_app:ActionNameList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ActionName</a>

<a  href="{% url 'EXPO_app:ActionComplexityList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ActionComplexity</a>

<a  href="{% url 'EXPO_app:ActionGoalList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ActionGoal</a>

<a  href="{% url 'EXPO_app:ExperimentalEquipmentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ExperimentalEquipment</a>

<a  href="{% url 'EXPO_app:TechnicalDescriptionList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;TechnicalDescription</a>

<a  href="{% url 'EXPO_app:NameEquipmentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;NameEquipment</a>

<a  href="{% url 'EXPO_app:ExperimentalMethodList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ExperimentalMethod</a>

<a  href="{% url 'EXPO_app:MethodApplicabilityConditionList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;MethodApplicabilityCondition</a>

<a  href="{% url 'EXPO_app:MethodGoalList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;MethodGoal</a>

<a  href="{% url 'EXPO_app:PlanOfExperimentalActionsList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;PlanOfExperimentalActions</a>

<a  href="{% url 'EXPO_app:SubjectMethodList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;SubjectMethod</a>

<a  href="{% url 'EXPO_app:TimePointList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;TimePoint</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:HumanList'%}" class="item"> Human</a>

<a  href="{% url 'EXPO_app:OrganizationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Organization</a>

<a  href="{% url 'EXPO_app:NumberList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Number</a>

<a  href="{% url 'EXPO_app:NameList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Name</a>

<a  href="{% url 'EXPO_app:EntityList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Entity</a>

<a  href="{% url 'EXPO_app:TitleList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Title</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:StandardOperatingProcedureList'%}" class="item"> StandardOperatingProcedure</a>

<a  href="{% url 'EXPO_app:AuthorSOPList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;AuthorSOP</a>

<a  href="{% url 'EXPO_app:TimePointList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;TimePoint</a>

<a  href="{% url 'EXPO_app:ProcedureExecuteExperimentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ProcedureExecuteExperiment</a>

<a  href="{% url 'EXPO_app:PlanOfExperimentalActionsList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;PlanOfExperimentalActions</a>

<a  href="{% url 'EXPO_app:RepresentationExperimentalExecutionProcedureList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;RepresentationExperimentalExecutionProcedure</a>

<a  href="{% url 'EXPO_app:DocumentStageList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;DocumentStage</a>

<a  href="{% url 'EXPO_app:PermissionStatusList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;PermissionStatus</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:BiblioReferenceList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;BiblioReference</a>

<a  href="{% url 'EXPO_app:ExperimentalHypothesisList'%}" class="item"> ExperimentalHypothesis</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:HypothesisComplexityList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;HypothesisComplexity</a>

<a  href="{% url 'EXPO_app:HypothesisExplicitnessList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;HypothesisExplicitness</a>

<a  href="{% url 'EXPO_app:GeneralityOfHypothesisList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;GeneralityOfHypothesis</a>

<a  href="{% url 'EXPO_app:HypothesisRepresentationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;HypothesisRepresentation</a>

<a  href="{% url 'EXPO_app:TargetVariableList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;TargetVariable</a>

<a  href="{% url 'EXPO_app:RepresentationList'%}" class="item"> Representation</a>

<a  href="{% url 'EXPO_app:PropositionList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Proposition</a>

<a  href="{% url 'EXPO_app:RepresentationFormList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;RepresentationForm</a>

<a  href="{% url 'EXPO_app:ArtifactList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Artifact</a>

<a  href="{% url 'EXPO_app:LinguisticExpressionList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;LinguisticExpression</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:ExperimentalResultsList'%}" class="item"> ExperimentalResults</a>

<a  href="{% url 'EXPO_app:ResultErrorList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ResultError</a>

<a  href="{% url 'EXPO_app:ResultsEvaluationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ResultsEvaluation</a>

<a  href="{% url 'EXPO_app:FactRejectResearchHypothesisList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;FactRejectResearchHypothesis</a>

<a  href="{% url 'EXPO_app:FactSupportResearchHypothesisList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;FactSupportResearchHypothesis</a>

<a  href="{% url 'EXPO_app:ScientificInvestigationList'%}" class="item"> ScientificInvestigation</a>

<a  href="{% url 'EXPO_app:ScientificExperimentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ScientificExperiment</a>

<a  href="{% url 'EXPO_app:ExperimentalDesignList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;ExperimentalDesign</a>

<a  href="{% url 'EXPO_app:AdminInfoExperimentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;AdminInfoExperiment</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:IDExperimentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;IDExperiment</a>

<a  href="{% url 'EXPO_app:AuthorList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Author</a>

<a  href="{% url 'EXPO_app:AdminInfoAuthorList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;AdminInfoAuthor</a>

<a  href="{% url 'EXPO_app:OrganizationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Organization</a>

<a  href="{% url 'EXPO_app:NumberList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Number</a>

<a  href="{% url 'EXPO_app:NameList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Name</a>

<a  href="{% url 'EXPO_app:EntityList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Entity</a>

<a  href="{% url 'EXPO_app:BiblioReferenceList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;BiblioReference</a>

<a  href="{% url 'EXPO_app:StatusExperimentalDocumentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;StatusExperimentalDocument</a>

<a  href="{% url 'EXPO_app:TitleExperimentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;TitleExperiment</a>

<a  href="{% url 'EXPO_app:ClassificationOfExperimentsList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;ClassificationOfExperiments</a>

<a  href="{% url 'EXPO_app:ExperimentalGoalList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;ExperimentalGoal</a>

<a  href="{% url 'EXPO_app:RepresentationExperimentalGoalList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;RepresentationExperimentalGoal</a>

<a  href="{% url 'EXPO_app:ExperimentalSubgoalList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;ExperimentalSubgoal</a>

<a  href="{% url 'EXPO_app:HypothesisFormationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;HypothesisFormation</a>

<a  href="{% url 'EXPO_app:InformationGetheringList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;InformationGethering</a>

<a  href="{% url 'EXPO_app:PoblemAnalysisList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;PoblemAnalysis</a>

<a  href="{% url 'EXPO_app:ResultsEvaluationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ResultsEvaluation</a>

<a  href="{% url 'EXPO_app:ResultsInterpretationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ResultsInterpretation</a>

<a  href="{% url 'EXPO_app:ExperimentalModelList'%}" class="item"> ExperimentalModel</a>

<a  href="{% url 'EXPO_app:ExperimentalFactorList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ExperimentalFactor</a>

<a  href="{% url 'EXPO_app:TargetVariableList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;TargetVariable</a>

<a  href="{% url 'EXPO_app:ExperimentalTechnologyList'%}" class="item"> ExperimentalTechnology</a>

<a  href="{% url 'EXPO_app:ExperimentalRequirementsList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ExperimentalRequirements</a>

<a  href="{% url 'EXPO_app:ExperimentalStandardList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ExperimentalStandard</a>

<a  href="{% url 'EXPO_app:ExperimentalDesignStrategyList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ExperimentalDesignStrategy</a>

<a  href="{% url 'EXPO_app:UserList'%}" class="item"> User</a>

<a  href="{% url 'EXPO_app:AdminInfoUserList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;AdminInfoUser</a>

<a  href="{% url 'EXPO_app:LoginNameList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;LoginName</a>

<a  href="{% url 'EXPO_app:PasswordList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Password</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:ObjectOfExperimentList'%}" class="item"> ObjectOfExperiment</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:ClassificationByModelList'%}" class="item"> ClassificationByModel</a>

<a  href="{% url 'EXPO_app:NumberList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Number</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:ModelList'%}" class="item"> Model</a>

<a  href="{% url 'EXPO_app:ModelRepresentationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ModelRepresentation</a>

<a  href="{% url 'EXPO_app:SystematicSamplingList'%}" class="item"> SystematicSampling</a>

<a  href="{% url 'EXPO_app:SamplingRuleList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;SamplingRule</a>

<a  href="{% url 'EXPO_app:ErrorList'%}" class="item"> Error</a>

<a  href="{% url 'EXPO_app:DispersionList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Dispersion</a>

<a  href="{% url 'EXPO_app:LevelOfSignificanceList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;LevelOfSignificance</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:BaconianExperimentList'%}" class="item"> BaconianExperiment</a>

<a  href="{% url 'EXPO_app:SynonymousExternalConceptList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;SynonymousExternalConcept</a>

<a  href="{% url 'EXPO_app:NameList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Name</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:ValueEstimateList'%}" class="item"> ValueEstimate</a>

<a  href="{% url 'EXPO_app:ValueOfVariableList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ValueOfVariable</a>

<a  href="{% url 'EXPO_app:ProviderList'%}" class="item"> Provider</a>

<a  href="{% url 'EXPO_app:AdminInfoProviderList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;AdminInfoProvider</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:SubjectOfExperimentList'%}" class="item"> SubjectOfExperiment</a>

<a  href="{% url 'EXPO_app:AdminInfoSubjectOfExperimentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;AdminInfoSubjectOfExperiment</a>

<a  href="{% url 'EXPO_app:NameList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Name</a>

<a  href="{% url 'EXPO_app:OrganizationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Organization</a>

<a  href="{% url 'EXPO_app:NumberList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Number</a>

<a  href="{% url 'EXPO_app:EntityList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Entity</a>

<a  href="{% url 'EXPO_app:SubjectQualificationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;SubjectQualification</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

<a  href="{% url 'EXPO_app:SubmitterList'%}" class="item"> Submitter</a>

<a  href="{% url 'EXPO_app:AdminInfoSubmitterList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;AdminInfoSubmitter</a>

<a  href="{% url 'EXPO_app:ThingList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Thing</a>

 </div>
  <div class="ui vertical inverted right visible sidebar menu">
    <form method="post" class="ui form" id = "preferences_form" action="{% url 'EXPO_app:define_preferences'%}">
        {% csrf_token %}
     <h2 class="ui inverted header">UI Preferences configurations</h2>
     <div class="item">
         <label>Background body color:  &nbsp;</label>
         <input type='text' id="body_bgk" name="body_background"/>
     </div>
     <div class="item">
         <label>Font color:  &nbsp;</label>
         <input type='text' id="font_color" name="font_color"/>
     </div>
     <div class="item">
        <label>Font size:  &nbsp;</label>
        <input type='number' style = "width:30%" id="font_size" name="font_size"/><span>px</span>
    </div>
     <button id =  "save_preferences"  type="submit" class="ui fluid positive medium button submit">Save</button>
    </form>
    <div class="item"></div>
    <a  href="/vowl" class="item"> Ontology Visualisation</a>
 </div>

 <div class="pusher">
         <div class= "ui center aligned raised segment">
            <h1 class="ui center aligned header">EXPO_app</h1>
        </div>
        {% block content %} 
        {% endblock %} 
</div>
{% else %}
    <div class= "ui center aligned raised segment">
        <h1 class="ui center aligned header">EXPO_app</h1>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class='column twelve wide'>
            <div class='ui center aligned segment container'>
                <a href="{% url 'EXPO_app:signup'%}"><button>Sign up</button></a>
                <a href="{% url 'login'%}?next={{request.path}}"><button>Sign in</button></a>
            </div>
        </div>
    </div>
{% endif %} 
</body>

{% if user.is_authenticated %} 
<script>
    function createCookie(key, value, date,path) {
        var expiration = new Date(date).toUTCString();
        var cookie = escape(key) + "=" + escape(value) + ";expires=" + expiration + ";path="+ path+";";
        document.cookie = cookie;
    }      

    function readCookie(name) {
    	var key = name + "=";
    	var cookies = document.cookie.split(';');
    	for (var i = 0; i < cookies.length; i++) {
    		var cookie = cookies[i];
    		while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1, cookie.length);
            }
    		if (cookie.indexOf(key) === 0) {
                return cookie.substring(key.length, cookie.length);
            }
    	}
    	return null;
    }

    function getColor(color_string){
        var hex_value1 = color_string.slice(3,9);
        hex_value = "#"+hex_value1;
        return hex_value;
    }

    $('#body_bgk').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('background-color',selectedBGD);
         createCookie("body_bgk", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("body_bgk")){
            body_bgk = getColor(readCookie("body_bgk"));
            console.log("body bg",body_bgk);
            $('body').css('background-color',body_bgk);
        }
    else{
        $('body').css('background-color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#body_bgk").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

        
        
       $('#font_color').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('color',selectedBGD);
         createCookie("font_color", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("font_color")){
            font_color = getColor(readCookie("font_color"));
            console.log("font_color",font_color);
            $('body').css('color',font_color);
            $('h1').css('color',font_color);
            $('a').css('color',font_color);
            $('label').css('color',font_color);
            $('h2').css('color',font_color);
        }
    else{
        $('body').css('color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#font_color").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

    $("#font_size").change(function(){
         var pixels = $(this).val();
         var pix_txt = pixels + "px";
         createCookie("font_size",pix_txt, Date.UTC(2020, 5, 10), "/");
         $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
         $('#data-table th').css('font-size',pix_txt);
         $('p').css('font-size',pix_txt);
         $('body').css('font-size',pix_txt);
    });


    if (readCookie("font_size")){
            pix_txt = readCookie("font_size");
            $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
            $('#data-table th').css('font-size',pix_txt);
            $('p').css('font-size',pix_txt);
        }
</script>
{% endif %} 