<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>MarineTLO_app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
</head>
<body>
{% if user.is_authenticated %}
<div class="ui vertical inverted left visible sidebar menu">

<a  href="{% url 'MarineTLO_app:BC35_Physical_ThingList'%}" class="item"> BC35_Physical_Thing</a>

<a  href="{% url 'MarineTLO_app:BC10_EventList'%}" class="item"> BC10_Event</a>

<a  href="{% url 'MarineTLO_app:BC8_ActorList'%}" class="item"> BC8_Actor</a>

<a  href="{% url 'MarineTLO_app:BC34_Geometric_Place_ExpressionList'%}" class="item"> BC34_Geometric_Place_Expression</a>

<a  href="{% url 'MarineTLO_app:BC29_Spatial_Coordinate_Reference_SystemList'%}" class="item"> BC29_Spatial_Coordinate_Reference_System</a>

<a  href="{% url 'MarineTLO_app:BC56_Digital_Measurement_EventList'%}" class="item"> BC56_Digital_Measurement_Event</a>

<a  href="{% url 'MarineTLO_app:BC23_Digital_ObjectList'%}" class="item"> BC23_Digital_Object</a>

<a  href="{% url 'MarineTLO_app:BC18_PropositionList'%}" class="item"> BC18_Proposition</a>

<a  href="{% url 'MarineTLO_app:BC59_SoftwareList'%}" class="item"> BC59_Software</a>

<a  href="{% url 'MarineTLO_app:BC58_Digital_DeviceList'%}" class="item"> BC58_Digital_Device</a>

<a  href="{% url 'MarineTLO_app:BC61_Capture_ActivityList'%}" class="item"> BC61_Capture_Activity</a>

<a  href="{% url 'MarineTLO_app:BC57_CaptureList'%}" class="item"> BC57_Capture</a>

<a  href="{% url 'MarineTLO_app:BC54_MeasurementList'%}" class="item"> BC54_Measurement</a>

<a  href="{% url 'MarineTLO_app:BC44_Attribute_AssignmentList'%}" class="item"> BC44_Attribute_Assignment</a>

<a  href="{% url 'MarineTLO_app:BC1_TLO_EntityList'%}" class="item"> BC1_TLO_Entity</a>

<a  href="{% url 'MarineTLO_app:BC43_ActivityList'%}" class="item"> BC43_Activity</a>

<a  href="{% url 'MarineTLO_app:BC4_Temporal_PhenomenonList'%}" class="item"> BC4_Temporal_Phenomenon</a>

<a  href="{% url 'MarineTLO_app:BC3_PlaceList'%}" class="item"> BC3_Place</a>

<a  href="{% url 'MarineTLO_app:BC45_ObservationList'%}" class="item"> BC45_Observation</a>

<a  href="{% url 'MarineTLO_app:BC9_Observable_EntityList'%}" class="item"> BC9_Observable_Entity</a>

<a  href="{% url 'MarineTLO_app:BC7_ThingList'%}" class="item"> BC7_Thing</a>

<a  href="{% url 'MarineTLO_app:BC5_DimensionList'%}" class="item"> BC5_Dimension</a>

<a  href="{% url 'MarineTLO_app:BC30_AppellationList'%}" class="item"> BC30_Appellation</a>

<a  href="{% url 'MarineTLO_app:BC55_Measurement_UnitList'%}" class="item"> BC55_Measurement_Unit</a>

<a  href="{% url 'MarineTLO_app:BC20_Declarative_PlaceList'%}" class="item"> BC20_Declarative_Place</a>

<a  href="{% url 'MarineTLO_app:BC72_SpaceTime_VolumeList'%}" class="item"> BC72_SpaceTime_Volume</a>

<a  href="{% url 'MarineTLO_app:BC2_Time_SpanList'%}" class="item"> BC2_Time_Span</a>

<a  href="{% url 'MarineTLO_app:BT14_Appellation_TypeList'%}" class="item"> BT14_Appellation_Type</a>

<a  href="{% url 'MarineTLO_app:BT2_Temporal_Phenomenon_TypeList'%}" class="item"> BT2_Temporal_Phenomenon_Type</a>

<a  href="{% url 'MarineTLO_app:BT10_Biotic_Element_TypeList'%}" class="item"> BT10_Biotic_Element_Type</a>

<a  href="{% url 'MarineTLO_app:BT7_Ecosystem_TypeList'%}" class="item"> BT7_Ecosystem_Type</a>

<a  href="{% url 'MarineTLO_app:BT4_Conceptual_Object_TypeList'%}" class="item"> BT4_Conceptual_Object_Type</a>

<a  href="{% url 'MarineTLO_app:BT1_TLO_Entity_TypeList'%}" class="item"> BT1_TLO_Entity_Type</a>

<a  href="{% url 'MarineTLO_app:BT17_Human_Activity_TypeList'%}" class="item"> BT17_Human_Activity_Type</a>

<a  href="{% url 'MarineTLO_app:BT9_Actor_TypeList'%}" class="item"> BT9_Actor_Type</a>

<a  href="{% url 'MarineTLO_app:BT32_Persistent_TypeList'%}" class="item"> BT32_Persistent_Type</a>

<a  href="{% url 'MarineTLO_app:BC32_IdentifierList'%}" class="item"> BC32_Identifier</a>

<a  href="{% url 'MarineTLO_app:BC64_Design_or_ProcedureList'%}" class="item"> BC64_Design_or_Procedure</a>

<a  href="{% url 'MarineTLO_app:BC79_RightList'%}" class="item"> BC79_Right</a>

<a  href="{% url 'MarineTLO_app:BC6_Persistent_ItemList'%}" class="item"> BC6_Persistent_Item</a>

<a  href="{% url 'MarineTLO_app:BT3_Physical_Thing_TypeList'%}" class="item"> BT3_Physical_Thing_Type</a>

<a  href="{% url 'MarineTLO_app:BC17_Conceptual_ObjectList'%}" class="item"> BC17_Conceptual_Object</a>

<a  href="{% url 'MarineTLO_app:BT32_Persisten_TypeList'%}" class="item"> BT32_Persisten_Type</a>

<a  href="{% url 'MarineTLO_app:BC39_Marine_AnimalList'%}" class="item"> BC39_Marine_Animal</a>

<a  href="{% url 'MarineTLO_app:BC42_CollectionList'%}" class="item"> BC42_Collection</a>

<a  href="{% url 'MarineTLO_app:BC46_Identifier_AssignmentList'%}" class="item"> BC46_Identifier_Assignment</a>

<a  href="{% url 'MarineTLO_app:BC47_ImageList'%}" class="item"> BC47_Image</a>

<a  href="{% url 'MarineTLO_app:BC48_DatabaseList'%}" class="item"> BC48_Database</a>

<a  href="{% url 'MarineTLO_app:BC53_SpecimenList'%}" class="item"> BC53_Specimen</a>

<a  href="{% url 'MarineTLO_app:BC60_Software_ExecutionList'%}" class="item"> BC60_Software_Execution</a>

<a  href="{% url 'MarineTLO_app:BC62_Statistic_IndicatorList'%}" class="item"> BC62_Statistic_Indicator</a>

<a  href="{% url 'MarineTLO_app:BC63_Global_Statistic_LandingList'%}" class="item"> BC63_Global_Statistic_Landing</a>

<a  href="{% url 'MarineTLO_app:BC70_GroupList'%}" class="item"> BC70_Group</a>

<a  href="{% url 'MarineTLO_app:BC71_Name_Use_ActivityList'%}" class="item"> BC71_Name_Use_Activity</a>

<a  href="{% url 'MarineTLO_app:BC75_StockList'%}" class="item"> BC75_Stock</a>

<a  href="{% url 'MarineTLO_app:BC76_Stock_FormationList'%}" class="item"> BC76_Stock_Formation</a>

<a  href="{% url 'MarineTLO_app:BC77_Matter_RemovalList'%}" class="item"> BC77_Matter_Removal</a>

<a  href="{% url 'MarineTLO_app:BC78_Amount_of_MatterList'%}" class="item"> BC78_Amount_of_Matter</a>

<a  href="{% url 'MarineTLO_app:BT11_Equipment_TypeList'%}" class="item"> BT11_Equipment_Type</a>

<a  href="{% url 'MarineTLO_app:BT12_Scientific_Data_TypeList'%}" class="item"> BT12_Scientific_Data_Type</a>

<a  href="{% url 'MarineTLO_app:BT13_Digital_Object_TypeList'%}" class="item"> BT13_Digital_Object_Type</a>

<a  href="{% url 'MarineTLO_app:BT16_Visual_TypeList'%}" class="item"> BT16_Visual_Type</a>

<a  href="{% url 'MarineTLO_app:BT6_Human_Event_TypeList'%}" class="item"> BT6_Human_Event_Type</a>

<a  href="{% url 'MarineTLO_app:BT18_KingdomList'%}" class="item"> BT18_Kingdom</a>

<a  href="{% url 'MarineTLO_app:BT19_PhylumList'%}" class="item"> BT19_Phylum</a>

<a  href="{% url 'MarineTLO_app:BT20_SubPhylumList'%}" class="item"> BT20_SubPhylum</a>

<a  href="{% url 'MarineTLO_app:BT21_SuperClassList'%}" class="item"> BT21_SuperClass</a>

<a  href="{% url 'MarineTLO_app:BT35_Property_TypeList'%}" class="item"> BT35_Property_Type</a>

<a  href="{% url 'MarineTLO_app:BC25_Linguistic_ObjectList'%}" class="item"> BC25_Linguistic_Object</a>

<a  href="{% url 'MarineTLO_app:BT36_LanguageList'%}" class="item"> BT36_Language</a>

<a  href="{% url 'MarineTLO_app:BC11_PersonList'%}" class="item"> BC11_Person</a>

<a  href="{% url 'MarineTLO_app:BC12_EcosystemList'%}" class="item"> BC12_Ecosystem</a>

<a  href="{% url 'MarineTLO_app:BC13_OrganizationList'%}" class="item"> BC13_Organization</a>

<a  href="{% url 'MarineTLO_app:BC14_Ecosystem_EnvironmentList'%}" class="item"> BC14_Ecosystem_Environment</a>

<a  href="{% url 'MarineTLO_app:BC15_Water_AreaList'%}" class="item"> BC15_Water_Area</a>

<a  href="{% url 'MarineTLO_app:BC19_TitleList'%}" class="item"> BC19_Title</a>

<a  href="{% url 'MarineTLO_app:BC21_DataSetList'%}" class="item"> BC21_DataSet</a>

<a  href="{% url 'MarineTLO_app:BC22_Encounter_EventList'%}" class="item"> BC22_Encounter_Event</a>

<a  href="{% url 'MarineTLO_app:BC24_Repository_ObjectList'%}" class="item"> BC24_Repository_Object</a>

<a  href="{% url 'MarineTLO_app:BC26_Place_NameList'%}" class="item"> BC26_Place_Name</a>

<a  href="{% url 'MarineTLO_app:BC31_Place_AppellationList'%}" class="item"> BC31_Place_Appellation</a>

<a  href="{% url 'MarineTLO_app:BC27_PublicationList'%}" class="item"> BC27_Publication</a>

<a  href="{% url 'MarineTLO_app:BC33_Spatial_CoordinateList'%}" class="item"> BC33_Spatial_Coordinate</a>

<a  href="{% url 'MarineTLO_app:BC36_Abiotic_ElementList'%}" class="item"> BC36_Abiotic_Element</a>

<a  href="{% url 'MarineTLO_app:BC37_Biological_ObjectList'%}" class="item"> BC37_Biological_Object</a>

<a  href="{% url 'MarineTLO_app:BC51_Physical_ObjectList'%}" class="item"> BC51_Physical_Object</a>

<a  href="{% url 'MarineTLO_app:BC38_Biotic_ElementList'%}" class="item"> BC38_Biotic_Element</a>

<a  href="{% url 'MarineTLO_app:BT22_ClassList'%}" class="item"> BT22_Class</a>

<a  href="{% url 'MarineTLO_app:BT23_SubClassList'%}" class="item"> BT23_SubClass</a>

<a  href="{% url 'MarineTLO_app:BT24_FamilyList'%}" class="item"> BT24_Family</a>

<a  href="{% url 'MarineTLO_app:BT25_SubFamilyList'%}" class="item"> BT25_SubFamily</a>

<a  href="{% url 'MarineTLO_app:BT26_GenusList'%}" class="item"> BT26_Genus</a>

<a  href="{% url 'MarineTLO_app:BT27_SpeciesList'%}" class="item"> BT27_Species</a>

<a  href="{% url 'MarineTLO_app:BT28_Scientific_Activity_TypeList'%}" class="item"> BT28_Scientific_Activity_Type</a>

<a  href="{% url 'MarineTLO_app:BT29_Industrial_Activity_TypeList'%}" class="item"> BT29_Industrial_Activity_Type</a>

<a  href="{% url 'MarineTLO_app:BT30_Identifier_Assignment_TypeList'%}" class="item"> BT30_Identifier_Assignment_Type</a>

<a  href="{% url 'MarineTLO_app:BT31_Biological_Part_TimeList'%}" class="item"> BT31_Biological_Part_Time</a>

<a  href="{% url 'MarineTLO_app:BT33_Marine_Animal_TypeList'%}" class="item"> BT33_Marine_Animal_Type</a>

<a  href="{% url 'MarineTLO_app:BT34_OrderList'%}" class="item"> BT34_Order</a>

<a  href="{% url 'MarineTLO_app:BT5_Legislative_Zone_TypeList'%}" class="item"> BT5_Legislative_Zone_Type</a>

<a  href="{% url 'MarineTLO_app:BT8_Abiotic_Element_TypeList'%}" class="item"> BT8_Abiotic_Element_Type</a>

<a  href="{% url 'MarineTLO_app:PersonList'%}" class="item"> Person</a>

 </div>
  <div class="ui vertical inverted right visible sidebar menu">
    <form method="post" class="ui form" id = "preferences_form" action="{% url 'MarineTLO_app:define_preferences'%}">
        {% csrf_token %}
     <h2 class="ui inverted header">UI Preferences configurations</h2>
     <div class="item">
         <label>Background body color:  &nbsp;</label>
         <input type='text' id="body_bgk" name="body_background"/>
     </div>
     <div class="item">
         <label>Font color:  &nbsp;</label>
         <input type='text' id="font_color" name="font_color"/>
     </div>
     <div class="item">
        <label>Font size:  &nbsp;</label>
        <input type='number' style = "width:30%" id="font_size" name="font_size"/><span>px</span>
    </div>
     <button id =  "save_preferences"  type="submit" class="ui fluid positive medium button submit">Save</button>
    </form>
    <div class="item"></div>
    <a  href="/vowl" class="item"> Ontology Visualisation</a>
 </div>

 <div class="pusher">
         <div class= "ui center aligned raised segment">
            <h1 class="ui center aligned header">MarineTLO_app</h1>
        </div>
        {% block content %} 
        {% endblock %} 
</div>
{% else %}
    <div class= "ui center aligned raised segment">
        <h1 class="ui center aligned header">MarineTLO_app</h1>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class='column twelve wide'>
            <div class='ui center aligned segment container'>
                <a href="{% url 'MarineTLO_app:signup'%}"><button>Sign up</button></a>
                <a href="{% url 'login'%}?next={{request.path}}"><button>Sign in</button></a>
            </div>
        </div>
    </div>
{% endif %} 
</body>

{% if user.is_authenticated %} 
<script>
    function createCookie(key, value, date,path) {
        var expiration = new Date(date).toUTCString();
        var cookie = escape(key) + "=" + escape(value) + ";expires=" + expiration + ";path="+ path+";";
        document.cookie = cookie;
    }      

    function readCookie(name) {
    	var key = name + "=";
    	var cookies = document.cookie.split(';');
    	for (var i = 0; i < cookies.length; i++) {
    		var cookie = cookies[i];
    		while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1, cookie.length);
            }
    		if (cookie.indexOf(key) === 0) {
                return cookie.substring(key.length, cookie.length);
            }
    	}
    	return null;
    }

    function getColor(color_string){
        var hex_value1 = color_string.slice(3,9);
        hex_value = "#"+hex_value1;
        return hex_value;
    }

    $('#body_bgk').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('background-color',selectedBGD);
         createCookie("body_bgk", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("body_bgk")){
            body_bgk = getColor(readCookie("body_bgk"));
            console.log("body bg",body_bgk);
            $('body').css('background-color',body_bgk);
        }
    else{
        $('body').css('background-color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#body_bgk").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

        
        
       $('#font_color').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('color',selectedBGD);
         createCookie("font_color", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("font_color")){
            font_color = getColor(readCookie("font_color"));
            console.log("font_color",font_color);
            $('body').css('color',font_color);
            $('h1').css('color',font_color);
            $('a').css('color',font_color);
            $('label').css('color',font_color);
            $('h2').css('color',font_color);
        }
    else{
        $('body').css('color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#font_color").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

    $("#font_size").change(function(){
         var pixels = $(this).val();
         var pix_txt = pixels + "px";
         createCookie("font_size",pix_txt, Date.UTC(2020, 5, 10), "/");
         $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
         $('#data-table th').css('font-size',pix_txt);
         $('p').css('font-size',pix_txt);
         $('body').css('font-size',pix_txt);
    });


    if (readCookie("font_size")){
            pix_txt = readCookie("font_size");
            $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
            $('#data-table th').css('font-size',pix_txt);
            $('p').css('font-size',pix_txt);
        }
</script>
{% endif %} 