{% extends "home.html" %}

{% block content %}
<div class="ui one column stackable center aligned page grid">
  <div class='column twelve wide'>
    <div class='ui center aligned segment container'>
        <p>Logged out!</p>  
        <a href="{% url 'login'%}">Click here to login again.</a>
    </div>
</div>
</div> 
{% endblock %}