<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>iedm_app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
</head>
<body>
<div class= "ui center aligned raised segment">
    <h1 class="ui center aligned header">{{app_name}}</h1>
</div>
<div class="ui one column stackable center aligned page grid">
  <div class='column twelve wide'>
    <div class='ui center aligned segment container'>
        {{'{% if form.errors %}'}}
            <p>Your username and password didn't match. Please try again.</p>
        {{'{% endif %}'}}
        {{'{% if next %}'}}
          {{'{% if user.is_authenticated %}'}}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
          {{'{% else %}'}}
            <p>Please login to see this page.</p>
          {{'{% endif %}'}}
        {{'{% endif %}'}}

        <form method="post" action="{{'{% url \'login\' %}'}}">
        {{'{% csrf_token %}'}}
        <table>
        <tr>
          <td>{{'{{ form.username.label_tag }}'}}</td>
          <td>{{'{{ form.username }}'}}</td>
        </tr>

        <tr>
          <td>{{'{{ form.password.label_tag}}'}}</td>
          <td>{{'{{ form.password }}'}}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{'{{ next }}'}}" />
        </form>
        <p><a href="{{'{% url \'password_reset\' %}'}}">Lost password?</a></p>
      </div>
    </div>
  </div> 