{% extends "home.html" %}

{% block content %}
<div class="ui one column stackable center aligned page grid">
  <div class='column twelve wide'>
        <div class='ui center aligned segment container'>
            <h1>The password has been changed!</h1>
            <p><a href="{% url 'login' %}">log in again?</a></p>
        </div>
    </div>
</div> 
{% endblock %}
