{% extends "home.html" %}

{% block content %}
<div class="ui one column stackable center aligned page grid">
    <div class='column twelve wide'>
        <div class='ui center aligned segment container'>
            <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
        </div>
    </div>
</div> 
{% endblock %}
