{% extends "home.html" %}

{% block content %}
<div class="ui one column stackable center aligned page grid">
    <div class='column twelve wide'>
        <div class='ui center aligned segment container'>
            <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}
                <p>{{ form.email }}</p> 
                <input type="submit" class="btn btn-default btn-lg" value="Reset password">
            </form>
        </div>
    </div>
</div> 
{% endblock %}
