<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>iedm_app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
</head>
<body>
<div class= "ui center aligned raised segment">
    <h1 class="ui center aligned header">{{app_name}}</h1>
</div>
<div class="ui one column stackable center aligned page grid">
  <div class='column twelve wide'>
    <div class='ui center aligned segment container'>
      <h2>Sign up</h2>
      <form method="post" class="ui form">
        {{'{% csrf_token %}'}}
        {{'{% for field in form %}'}}
          <p>
            {{'{{ field.label_tag }}'}}<br>
            {{'{{ field }}'}}
            {{'{% if field.help_text %}'}}
              <small style="color: grey">{{'{{field.help_text}}'}}</small>
            {{'{% endif %}'}}
            {{'{% for error in field.errors %}'}}
              <p style="color: red">{{'{{ error }}'}}</p>
            {{'{% endfor %}'}}
          </p>
        {{'{% endfor %}'}}
        <button type="submit">Sign up</button>
      </form>
    </div>
  </div>
</div> 
