{{'{% extends \'home.html\'%}'}}
{{'{% block content %}'}}
<div class='ui center aligned segment container'>
    <div class="ui grid">
        <div class="ui column">
            <div class="ui segment">
                    {{'{% for item in instance_items %}'}}
                    <div class="item">
                        <div class="ui horizontal label">
                                    {{'{{item.key}}'}}
                                </div><span> {{'{{item.value}}'}}</span>
                    </div>
                    {{'{% endfor %}'}}
            </div>
        </div>
    </div>
</div>
{{'{% endblock %}'}}