{{'{% extends \'home.html\'%}'}}
{{'{% block content %}'}}
      <!-- Your Semantic UI Code -->  
      <div class="ui one column stackable center aligned page grid">
        <div class='column twelve wide'>
          <div class='ui center aligned segment container'>
              <form method = "post"  action = {{variable}} class='ui form'>
              {{'{% csrf_token %}'}}
                    {{'{% for field in form %}'}}
                                    <div class='field form-group {{'{% if field.errors %} has-error{% endif %}'}}'>
                                        <label for='{{'{{ field.id_for_label }}'}}'>
                                            {{'{{ field.label }}'}}
                                        </label>
                                        {{'{% for key, value in field_types.items %}
                                            {% if field.label == key%}
                                                 {% if value == \'SelectMultiple\' %}
                                                    {% if  field.field.choices %}
                                                        {{ field }}
                                                    {%endif%}
                                                    {% for key, value in foreign_keys.items %}
                                                            {% if key == field.label %}
                                                                <a href="{% url value %}" class="item">Add</a>
                                                            {%endif%}
                                                    {% endfor %} 
                                                {% elif value == \'Select\' %}
                                                            {% if field.field.choices|length > 1 %}
                                                                {{ field }}
                                                            {% endif %} 
                                                        <a>Add</a>
                                                {%else%}
                                                    {{ field }}
                                                {%endif%}
                                             {%endif%}
                                         {% endfor %}        
                                        {% for error in field.errors %}
                                            <p class="ui pointing  basic label">{{ error }}</p>
                                        {% endfor %}'}}
                                    </div>
                    {{'{% endfor %}'}}
                <div class="two ui buttons actions">
                            <button  type="button"  class="ui deny small button">Cancel</button>
                            <button  type="submit" class="ui positive small button submit">{{action_button}}</button>
                </div>
              </form>
          </div>
        </div>
      </div> 
{{'{% endblock %}'}}