<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{app_name}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
</head>
<body>
{{'{% if user.is_authenticated %}'}}
<div class="ui vertical inverted left visible sidebar menu">
{% for item in class_hiearchy %}
<a  href={{'"{% url \''}}{{app_name}}{{':'}}{{item.class}}{{'List\'%}"'}} class="item"> {% for i in range(item.order) %}&nbsp; &nbsp; &nbsp;&nbsp;{% endfor %}{{item.class}}</a>
{% endfor %}
 </div>
  <div class="ui vertical inverted right visible sidebar menu">
    <form method="post" class="ui form" id = "preferences_form" action={{'\"{% url \''}}{{app_name}}{{':define_preferences\'%}\"'}}>
        {{'{% csrf_token %}'}}
     <h2 class="ui inverted header">UI Preferences configurations</h2>
     <div class="item">
         <label>Background body color:  &nbsp;</label>
         <input type='text' id="body_bgk" name="body_background"/>
     </div>
     <div class="item">
         <label>Font color:  &nbsp;</label>
         <input type='text' id="font_color" name="font_color"/>
     </div>
     <div class="item">
        <label>Font size:  &nbsp;</label>
        <input type='number' style = "width:30%" id="font_size" name="font_size"/><span>px</span>
    </div>
     <button id =  "save_preferences"  type="submit" class="ui fluid positive medium button submit">Save</button>
    </form>
    <div class="item"></div>
    <a  href="/vowl" class="item"> Ontology Visualisation</a>
 </div>

 <div class="pusher">
         <div class= "ui center aligned raised segment">
            <h1 class="ui center aligned header">{{app_name}}</h1>
        </div>
        {{'{% block content %}'}} 
        {{'{% endblock %}'}} 
</div>
{{'{% else %}'}}
    <div class= "ui center aligned raised segment">
        <h1 class="ui center aligned header">{{app_name}}</h1>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class='column twelve wide'>
            <div class='ui center aligned segment container'>
                <a href="{{'{% url \''}}{{app_name}}{{':signup\'%}'}}"><button>Sign up</button></a>
                <a href="{{'{% url \'login\'%}?next={{request.path}}'}}"><button>Sign in</button></a>
            </div>
        </div>
    </div>
{{'{% endif %}'}} 
</body>

{{'{% if user.is_authenticated %}'}} 
<script>
    function createCookie(key, value, date,path) {
        var expiration = new Date(date).toUTCString();
        var cookie = escape(key) + "=" + escape(value) + ";expires=" + expiration + ";path="+ path+";";
        document.cookie = cookie;
    }      

    function readCookie(name) {
    	var key = name + "=";
    	var cookies = document.cookie.split(';');
    	for (var i = 0; i < cookies.length; i++) {
    		var cookie = cookies[i];
    		while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1, cookie.length);
            }
    		if (cookie.indexOf(key) === 0) {
                return cookie.substring(key.length, cookie.length);
            }
    	}
    	return null;
    }

    function getColor(color_string){
        var hex_value1 = color_string.slice(3,9);
        hex_value = "#"+hex_value1;
        return hex_value;
    }

    $('#body_bgk').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('background-color',selectedBGD);
         createCookie("body_bgk", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("body_bgk")){
            body_bgk = getColor(readCookie("body_bgk"));
            console.log("body bg",body_bgk);
            $('body').css('background-color',body_bgk);
        }
    else{
        $('body').css('background-color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#body_bgk").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

        
        
       $('#font_color').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('color',selectedBGD);
         createCookie("font_color", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("font_color")){
            font_color = getColor(readCookie("font_color"));
            console.log("font_color",font_color);
            $('body').css('color',font_color);
            $('h1').css('color',font_color);
            $('a').css('color',font_color);
            $('label').css('color',font_color);
            $('h2').css('color',font_color);
        }
    else{
        $('body').css('color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#font_color").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

    $("#font_size").change(function(){
         var pixels = $(this).val();
         var pix_txt = pixels + "px";
         createCookie("font_size",pix_txt, Date.UTC(2020, 5, 10), "/");
         $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
         $('#data-table th').css('font-size',pix_txt);
         $('p').css('font-size',pix_txt);
         $('body').css('font-size',pix_txt);
    });


    if (readCookie("font_size")){
            pix_txt = readCookie("font_size");
            $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
            $('#data-table th').css('font-size',pix_txt);
            $('p').css('font-size',pix_txt);
        }
</script>
{{'{% endif %}'}} 