{{'{% extends \'home.html\'%}'}}
{{'{% block content %}'}}
        <div class='ui center aligned segment container'>
        <h2>{{classname}}</h2>
        <div class="ui one column stackable center aligned page grid">
            <div class="twelve wide column">
                <a  href="{{'{% url \''}}{{app_name}}{{':'}}{{classname}}{{'Create\'%}'}}">
                        <button type="button">Create</button> 
                </a>
            </div>
            <div class='column twelve wide'>
            {{'{% if  data %}'}}
            <table class="ui celled table">
                <thead>
                    <tr>
                        {{'{% for field in fields%}'}}
                        <th>{{'{{field}}'}}</th>
                         {{'{% endfor %}'}}
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                     {{'{% for instance in data %}'}}
                        <tr>
                             {{'{% for field, value in instance.fields.items %}'}}
                            <td>
                             {{'{{ value }}'}}
                            </td>
                             {{'{% endfor %}'}}
                              <td>
                                <a href="{{'{% url \''}}{{app_name}}{{':'}}{{classname}}{{'Read\' instance.pk%}'}}">
                                        <button>View</button>
                                </a>
                                 <a href="{{'{% url \''}}{{app_name}}{{':'}}{{classname}}{{'Update\' instance.pk %}'}}">
                                        <button>Update</button>
                                 </a>
                                 <a href="{{'{% url \''}}{{app_name}}{{':'}}{{classname}}{{'Delete\' instance.pk %}'}}">
                                        <button>Delete</button>
                                 </a>
                             </td>
                        <tr>
                         {{'{% endfor %}'}}
                    </tr>
                    </tbody>
            </table>
            {{'{%endif%}'}}
            </div>
        </div>
    </div>
{{'{% endblock %}'}}