from owlready2 import *
from django.db import models
from django.template.loader import render_to_string
from .models import *
from .forms import *
from django.shortcuts import get_object_or_404, render
from django.http import HttpResponse, HttpResponseRedirect, HttpResponseNotFound
from django.template import loader
from django.core.urlresolvers import reverse
import datetime
from .forms import *
from django.http import JsonResponse
from django.template.loader import render_to_string
from django.core.files.storage import FileSystemStorage
from django.utils.safestring import mark_safe
from django.conf import settings

onto_path.append(settings.BASE_DIR)
onto = get_ontology("{{ontourl}}").load()
ontoclasses = onto.classes()
namespaces = dict() 
for clas in ontoclasses:
    namespaces[clas.name] = clas.namespace

{% for cl in classes%}
def {{cl.classname}}Create(request):
    foreign_keys = dict()
    class_namespace =  namespaces["{{cl.classname}}"]

    {% for fk in cl.foreign_keys%}
    foreign_keys['{{fk.fk_name}}'] = '{{app_name}}:{{fk.fk_model}}List'
    {% endfor %}

    if request.method == 'POST':
        form = {{cl.classname}}Form(request.POST)
        if form.is_valid():
            instance = form.save()

            onto_instance = class_namespace.{{cl.classname}}(instance.name)
            onto.save()
            

            {% for attr in cl.data_attributes%}
            if {{cl.classname}}._meta.get_field('{{attr}}').get_internal_type()  == 'IntegerField':
                onto_instance.{{attr}}=int(form.cleaned_data['{{attr}}'])
            elif {{cl.classname}}._meta.get_field('{{attr}}').get_internal_type()  == 'DecimalField':
                onto_instance.{{attr}}=float(form.cleaned_data['{{attr}}'])
            else:
                onto_instance.{{attr}}=str(form.cleaned_data['{{attr}}'])
            {% endfor %}
            onto.save()

            {% for fk in cl.foreign_keys%}
            fkstr = '{{fk.fk_name}}'
            fklc = fkstr[0].lower() + fkstr[1:]
            fkinstanceinput = form.cleaned_data[fklc]
            fkinstance = class_namespace.{{fk.fk_model}}(fkinstanceinput[0])
            onto.save()
            onto_instance.{{fk.obj_property}}.append(fkinstance) 
            {% endfor %}
            onto.save()
            link = "/{{app_name}}/{{cl.classname}}/list/"
            return HttpResponseRedirect(link)
    else:
        form = {{cl.classname}}Form()
    field_types = dict()
    for field in form:
        field_type_object = str(field.field.widget).split(' ')
        field_type = field_type_object[0].split('.')[3]
        field_types[field.field.label] = field_type
    return render(request, "{{cl.classname}}Create.html",{'form': form, 'field_types' : field_types, 'foreign_keys': foreign_keys})
{% endfor %}