from django.db import models
from django.template.loader import render_to_string
from .models import *
from .forms import *
from django.shortcuts import get_object_or_404, render
from django.http import HttpResponse, HttpResponseRedirect, HttpResponseNotFound
from django.template import loader
from django.core.urlresolvers import reverse
import datetime
from .forms import *
from django.http import JsonResponse
from django.template.loader import render_to_string
from django.core.files.storage import FileSystemStorage
from django.utils.safestring import mark_safe

{% for cl in classes%}
def {{cl.classname}}Delete(request, pk):
    foreign_keys = dict()
    {% for fk in cl.foreign_keys%}
    foreign_keys['{{fk.fk_name}}'] = '{{app_name}}:{{fk.fk_model}}List'
    {% endfor %}
    object_to_delete = get_object_or_404({{cl.classname}},pk=pk)
    if request.method == 'POST':
        object_to_delete.delete()
        link = "/{{app_name}}/{{cl.classname}}/list/"
        return HttpResponseRedirect(link)
    else:
         form = {{cl.classname}}Form(instance =  object_to_delete)
    for field in form:
        field_type_object = str(field.field.widget).split(' ')
        field_type = field_type_object[0].split('.')[3]
        field_types[field.field.label] = field_type
    context = {'form': form, 'field_types' : field_types, 'foreign_keys': foreign_keys}
    return render(request, "{{cl.classname}}Delete.html",context)
{% endfor %}