from django import forms
from django.forms import ModelForm
from .models import *

{% for cl in classes%}
class {{cl.classname}}Form(ModelForm):
    def __init__(self, *args, **kwargs):
        super({{cl.classname}}Form, self).__init__(*args, **kwargs)
    class Meta:
        model = {{cl.classname}}
        exclude = ()
{% endfor %}