from django.db import models
{% for cl in classes%}
class {{cl.classname}}(models.Model):
    {% for property in cl.properties%}
    {{property.property_name}}=models.{{property.fieldtype}}
    {% endfor %}
    def __str__(self):
        return self.name
{% endfor %}