from django.conf.urls import url, include
from . import Read_view, Create_view, Update_view, Delete_view, List_view, Home_view, preferences, registration

urlpatterns = [
    url(r'^home/$', Home_view.HomeView, name='HomeView'),

    url(r'^preferences/$', preferences.define_preferences, name='define_preferences'),

    url(r'^signup/$', registration.signup, name='signup'),    
{% for cl in classes%}
    url(r'^{{cl.classname}}/create/$', Create_view.{{cl.classname}}Create, name='{{cl.classname}}Create'),
{% endfor %}
{% for cl in classes%}
    url(r'^{{cl.classname}}/(?P<pk>\d+)/read/$', Read_view.{{cl.classname}}Read, name='{{cl.classname}}Read'),
{% endfor %}
{% for cl in classes%}
    url(r'^{{cl.classname}}/list/$', List_view.{{cl.classname}}List, name='{{cl.classname}}List'),
{% endfor %}
{% for cl in classes%}
    url(r'^{{cl.classname}}/(?P<pk>\d+)/update/$', Update_view.{{cl.classname}}Update, name='{{cl.classname}}Update'),
{% endfor %}
{% for cl in classes%}
    url(r'^{{cl.classname}}/(?P<pk>\d+)/delete/$', Delete_view.{{cl.classname}}Delete, name='{{cl.classname}}Delete'),
{% endfor %}
    ]