<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>iedm_app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
</head>
<body>
{% if user.is_authenticated %}
<div class="ui vertical inverted left visible sidebar menu">

<a  href="{% url 'iedm_app:ThingList'%}" class="item"> Thing</a>

<a  href="{% url 'iedm_app:ObjectList'%}" class="item"> Object</a>

<a  href="{% url 'iedm_app:UnaryFunctionList'%}" class="item"> UnaryFunction</a>

<a  href="{% url 'iedm_app:UserList'%}" class="item"> User</a>

<a  href="{% url 'iedm_app:IrradiationFacilityRoleList'%}" class="item"> IrradiationFacilityRole</a>

<a  href="{% url 'iedm_app:IrradiationFacilityCoordinatorList'%}" class="item"> IrradiationFacilityCoordinator</a>

<a  href="{% url 'iedm_app:IrradiationFacilityManagerList'%}" class="item"> IrradiationFacilityManager</a>

<a  href="{% url 'iedm_app:OperatorList'%}" class="item"> Operator</a>

<a  href="{% url 'iedm_app:ResponsiblePersonList'%}" class="item"> ResponsiblePerson</a>

<a  href="{% url 'iedm_app:DUTList'%}" class="item"> DUT</a>

<a  href="{% url 'iedm_app:PhysicalList'%}" class="item"> Physical</a>

<a  href="{% url 'iedm_app:IrradiationFacilityUserList'%}" class="item"> IrradiationFacilityUser</a>

<a  href="{% url 'iedm_app:PredicateList'%}" class="item"> Predicate</a>

<a  href="{% url 'iedm_app:SentientAgentList'%}" class="item"> SentientAgent</a>

<a  href="{% url 'iedm_app:AgentList'%}" class="item"> Agent</a>

<a  href="{% url 'iedm_app:ElementList'%}" class="item"> Element</a>

<a  href="{% url 'iedm_app:UnaryFunctionEntryList'%}" class="item"> UnaryFunctionEntry</a>

<a  href="{% url 'iedm_app:CumulatedQuantityList'%}" class="item"> CumulatedQuantity</a>

<a  href="{% url 'iedm_app:InteractionLengthList'%}" class="item"> InteractionLength</a>

<a  href="{% url 'iedm_app:InteractionLengthOccupancyList'%}" class="item"> InteractionLengthOccupancy</a>

<a  href="{% url 'iedm_app:DosimetricQuantityList'%}" class="item"> DosimetricQuantity</a>

<a  href="{% url 'iedm_app:DosimeterList'%}" class="item"> Dosimeter</a>

<a  href="{% url 'iedm_app:DomainOfExperimentList'%}" class="item"> DomainOfExperiment</a>

<a  href="{% url 'iedm_app:ParticlePhysicsExperimentList'%}" class="item"> ParticlePhysicsExperiment</a>

<a  href="{% url 'iedm_app:RequirementsList'%}" class="item"> Requirements</a>

<a  href="{% url 'iedm_app:MonitoringSystemList'%}" class="item"> MonitoringSystem</a>

<a  href="{% url 'iedm_app:StorageAreaList'%}" class="item"> StorageArea</a>

<a  href="{% url 'iedm_app:FieldOfStudyList'%}" class="item"> FieldOfStudy</a>

<a  href="{% url 'iedm_app:IrradiationFacilityPostionList'%}" class="item"> IrradiationFacilityPostion</a>

<a  href="{% url 'iedm_app:LengthList'%}" class="item"> Length</a>

<a  href="{% url 'iedm_app:PercentageList'%}" class="item"> Percentage</a>

<a  href="{% url 'iedm_app:RelationList'%}" class="item"> Relation</a>

<a  href="{% url 'iedm_app:AbstractList'%}" class="item"> Abstract</a>

<a  href="{% url 'iedm_app:RegionList'%}" class="item"> Region</a>

<a  href="{% url 'iedm_app:SubjectRoleList'%}" class="item"> SubjectRole</a>

<a  href="{% url 'iedm_app:ActorRoleList'%}" class="item"> ActorRole</a>

<a  href="{% url 'iedm_app:AbsorbedDoseList'%}" class="item"> AbsorbedDose</a>

<a  href="{% url 'iedm_app:AbsorbedDoseInMediumList'%}" class="item"> AbsorbedDoseInMedium</a>

<a  href="{% url 'iedm_app:QuantityList'%}" class="item"> Quantity</a>

<a  href="{% url 'iedm_app:ActivityList'%}" class="item"> Activity</a>

<a  href="{% url 'iedm_app:DosimetricRateList'%}" class="item"> DosimetricRate</a>

<a  href="{% url 'iedm_app:AtomicMassList'%}" class="item"> AtomicMass</a>

<a  href="{% url 'iedm_app:MassList'%}" class="item"> Mass</a>

<a  href="{% url 'iedm_app:DensityList'%}" class="item"> Density</a>

<a  href="{% url 'iedm_app:EnergyList'%}" class="item"> Energy</a>

<a  href="{% url 'iedm_app:HeightList'%}" class="item"> Height</a>

<a  href="{% url 'iedm_app:NumberList'%}" class="item"> Number</a>

<a  href="{% url 'iedm_app:RatioList'%}" class="item"> Ratio</a>

<a  href="{% url 'iedm_app:TemperatureList'%}" class="item"> Temperature</a>

<a  href="{% url 'iedm_app:ThicknessList'%}" class="item"> Thickness</a>

<a  href="{% url 'iedm_app:AbsorbedDoseInAirList'%}" class="item"> AbsorbedDoseInAir</a>

<a  href="{% url 'iedm_app:AdminInfoIrradiationExperimentList'%}" class="item"> AdminInfoIrradiationExperiment</a>

<a  href="{% url 'iedm_app:AdminInfoExperimentList'%}" class="item"> AdminInfoExperiment</a>

<a  href="{% url 'iedm_app:RoleList'%}" class="item"> Role</a>

<a  href="{% url 'iedm_app:AdministrativeInformationList'%}" class="item"> AdministrativeInformation</a>

<a  href="{% url 'iedm_app:PropositionList'%}" class="item"> Proposition</a>

<a  href="{% url 'iedm_app:AdminInfoObjectOfExperimentList'%}" class="item"> AdminInfoObjectOfExperiment</a>

<a  href="{% url 'iedm_app:AdminInfoUserList'%}" class="item"> AdminInfoUser</a>

<a  href="{% url 'iedm_app:ClassificationList'%}" class="item"> Classification</a>

<a  href="{% url 'iedm_app:ScientificTaskList'%}" class="item"> ScientificTask</a>

<a  href="{% url 'iedm_app:ClassificationByDomainList'%}" class="item"> ClassificationByDomain</a>

<a  href="{% url 'iedm_app:ClassificationOfExperimentsList'%}" class="item"> ClassificationOfExperiments</a>

<a  href="{% url 'iedm_app:CorpuscularObjectList'%}" class="item"> CorpuscularObject</a>

<a  href="{% url 'iedm_app:SelfConnectedObjectList'%}" class="item"> SelfConnectedObject</a>

<a  href="{% url 'iedm_app:ExperimentalRequirementsList'%}" class="item"> ExperimentalRequirements</a>

<a  href="{% url 'iedm_app:AdminInfoIrradiationExperimentUserList'%}" class="item"> AdminInfoIrradiationExperimentUser</a>

<a  href="{% url 'iedm_app:AdminInfoObjectOfIrradiationList'%}" class="item"> AdminInfoObjectOfIrradiation</a>

<a  href="{% url 'iedm_app:AdminInfoObjectOfIrradiationExperimentList'%}" class="item"> AdminInfoObjectOfIrradiationExperiment</a>

<a  href="{% url 'iedm_app:AtomicNumberList'%}" class="item"> AtomicNumber</a>

<a  href="{% url 'iedm_app:CollaborationRequirementsList'%}" class="item"> CollaborationRequirements</a>

<a  href="{% url 'iedm_app:ControlRoomList'%}" class="item"> ControlRoom</a>

<a  href="{% url 'iedm_app:ControlSystemList'%}" class="item"> ControlSystem</a>

<a  href="{% url 'iedm_app:SystemList'%}" class="item"> System</a>

<a  href="{% url 'iedm_app:RadiationLengthList'%}" class="item"> RadiationLength</a>

<a  href="{% url 'iedm_app:RadiationLengthOccupancyList'%}" class="item"> RadiationLengthOccupancy</a>

<a  href="{% url 'iedm_app:RadioprotectionRequirementsList'%}" class="item"> RadioprotectionRequirements</a>

<a  href="{% url 'iedm_app:SingularFieldList'%}" class="item"> SingularField</a>

<a  href="{% url 'iedm_app:RadiationFieldList'%}" class="item"> RadiationField</a>

<a  href="{% url 'iedm_app:TechnicalRequirementsList'%}" class="item"> TechnicalRequirements</a>

<a  href="{% url 'iedm_app:IrradiationFacilityRequirementsList'%}" class="item"> IrradiationFacilityRequirements</a>

<a  href="{% url 'iedm_app:FluenceList'%}" class="item"> Fluence</a>

<a  href="{% url 'iedm_app:NuclearCollisionLengthList'%}" class="item"> NuclearCollisionLength</a>

<a  href="{% url 'iedm_app:NuclearInteractionLengthList'%}" class="item"> NuclearInteractionLength</a>

<a  href="{% url 'iedm_app:DataManagementSystemList'%}" class="item"> DataManagementSystem</a>

<a  href="{% url 'iedm_app:DoseRateList'%}" class="item"> DoseRate</a>

<a  href="{% url 'iedm_app:ExternalPositionList'%}" class="item"> ExternalPosition</a>

<a  href="{% url 'iedm_app:FluenceRateList'%}" class="item"> FluenceRate</a>

<a  href="{% url 'iedm_app:InteractionLengthEntryList'%}" class="item"> InteractionLengthEntry</a>

<a  href="{% url 'iedm_app:InteractionLengthTableList'%}" class="item"> InteractionLengthTable</a>

<a  href="{% url 'iedm_app:IrradiationPositionList'%}" class="item"> IrradiationPosition</a>

<a  href="{% url 'iedm_app:IrradiationZoneList'%}" class="item"> IrradiationZone</a>

<a  href="{% url 'iedm_app:LaboratoryList'%}" class="item"> Laboratory</a>

<a  href="{% url 'iedm_app:LegalRequirementsList'%}" class="item"> LegalRequirements</a>

<a  href="{% url 'iedm_app:MinimumIonisationEntryList'%}" class="item"> MinimumIonisationEntry</a>

<a  href="{% url 'iedm_app:MinimumIonisationTableList'%}" class="item"> MinimumIonisationTable</a>

<a  href="{% url 'iedm_app:MixedFieldList'%}" class="item"> MixedField</a>

<a  href="{% url 'iedm_app:NuclearCollisionLengthOccupancyList'%}" class="item"> NuclearCollisionLengthOccupancy</a>

<a  href="{% url 'iedm_app:NuclearInteractionLengthOccupancyList'%}" class="item"> NuclearInteractionLengthOccupancy</a>

<a  href="{% url 'iedm_app:ParticleList'%}" class="item"> Particle</a>

<a  href="{% url 'iedm_app:SampleList'%}" class="item"> Sample</a>

<a  href="{% url 'iedm_app:LayerTableList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;LayerTable</a>

<a  href="{% url 'iedm_app:LayerEntryList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;LayerEntry</a>

<a  href="{% url 'iedm_app:LayerList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Layer</a>

<a  href="{% url 'iedm_app:CompoundList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Compound</a>

<a  href="{% url 'iedm_app:CompoundWeightFractionTableList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;CompoundWeightFractionTable</a>

<a  href="{% url 'iedm_app:CompoundWeightFractionEntryList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;CompoundWeightFractionEntry</a>

<a  href="{% url 'iedm_app:ElementList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;Element</a>

<a  href="{% url 'iedm_app:IrradiationExperimentList'%}" class="item"> IrradiationExperiment</a>

<a  href="{% url 'iedm_app:RequirementsList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Requirements</a>

<a  href="{% url 'iedm_app:DUTIrradiationList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;DUTIrradiation</a>

<a  href="{% url 'iedm_app:CumulatedQuantityList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;CumulatedQuantity</a>

<a  href="{% url 'iedm_app:IrradiationExperimentObjectList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;IrradiationExperimentObject</a>

<a  href="{% url 'iedm_app:UserList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;User</a>

<a  href="{% url 'iedm_app:InteractionLengthList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;InteractionLength</a>

<a  href="{% url 'iedm_app:InteractionLengthOccupancyList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;InteractionLengthOccupancy</a>

<a  href="{% url 'iedm_app:MonitoringSystemList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;MonitoringSystem</a>

<a  href="{% url 'iedm_app:DomainOfExperimentList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;DomainOfExperiment</a>

<a  href="{% url 'iedm_app:StorageAreaList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;StorageArea</a>

<a  href="{% url 'iedm_app:IrradiationFacilityCoordinatorList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;IrradiationFacilityCoordinator</a>

<a  href="{% url 'iedm_app:OperatorList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;Operator</a>

<a  href="{% url 'iedm_app:IrradiationFacilityList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;IrradiationFacility</a>

<a  href="{% url 'iedm_app:IrradiationFacilityManagerList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;IrradiationFacilityManager</a>

<a  href="{% url 'iedm_app:IrradiationFacilityUserList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;IrradiationFacilityUser</a>

<a  href="{% url 'iedm_app:ResponsiblePersonList'%}" class="item"> &nbsp; &nbsp; &nbsp;&nbsp;ResponsiblePerson</a>

 </div>
  <div class="ui vertical inverted right visible sidebar menu">
    <form method="post" class="ui form" id = "preferences_form" action="{% url 'iedm_app:define_preferences'%}">
        {% csrf_token %}
     <h2 class="ui inverted header">UI Preferences configurations</h2>
     <div class="item">
         <label>Background body color:  &nbsp;</label>
         <input type='text' id="body_bgk" name="body_background"/>
     </div>
     <div class="item">
         <label>Font color:  &nbsp;</label>
         <input type='text' id="font_color" name="font_color"/>
     </div>
     <div class="item">
        <label>Font size:  &nbsp;</label>
        <input type='number' style = "width:30%" id="font_size" name="font_size"/><span>px</span>
    </div>
     <button id =  "save_preferences"  type="submit" class="ui fluid positive medium button submit">Save</button>
    </form>
    <div class="item"></div>
    <a  href="/vowl" class="item"> Ontology Visualisation</a>
 </div>

 <div class="pusher">
         <div class= "ui center aligned raised segment">
            <h1 class="ui center aligned header">iedm_app</h1>
        </div>
        {% block content %} 
        {% endblock %} 
</div>
{% else %}
    <div class= "ui center aligned raised segment">
        <h1 class="ui center aligned header">iedm_app</h1>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class='column twelve wide'>
            <div class='ui center aligned segment container'>
                <a href="{% url 'iedm_app:signup'%}"><button>Sign up</button></a>
                <a href="{% url 'login'%}?next={{request.path}}"><button>Sign in</button></a>
            </div>
        </div>
    </div>
{% endif %} 
</body>

{% if user.is_authenticated %} 
<script>
    function createCookie(key, value, date,path) {
        var expiration = new Date(date).toUTCString();
        var cookie = escape(key) + "=" + escape(value) + ";expires=" + expiration + ";path="+ path+";";
        document.cookie = cookie;
    }      

    function readCookie(name) {
    	var key = name + "=";
    	var cookies = document.cookie.split(';');
    	for (var i = 0; i < cookies.length; i++) {
    		var cookie = cookies[i];
    		while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1, cookie.length);
            }
    		if (cookie.indexOf(key) === 0) {
                return cookie.substring(key.length, cookie.length);
            }
    	}
    	return null;
    }

    function getColor(color_string){
        var hex_value1 = color_string.slice(3,9);
        hex_value = "#"+hex_value1;
        return hex_value;
    }

    $('#body_bgk').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('background-color',selectedBGD);
         createCookie("body_bgk", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("body_bgk")){
            body_bgk = getColor(readCookie("body_bgk"));
            console.log("body bg",body_bgk);
            $('body').css('background-color',body_bgk);
        }
    else{
        $('body').css('background-color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#body_bgk").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

        
        
       $('#font_color').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('color',selectedBGD);
         createCookie("font_color", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("font_color")){
            font_color = getColor(readCookie("font_color"));
            console.log("font_color",font_color);
            $('body').css('color',font_color);
            $('h1').css('color',font_color);
            $('a').css('color',font_color);
            $('label').css('color',font_color);
            $('h2').css('color',font_color);
        }
    else{
        $('body').css('color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#font_color").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

    $("#font_size").change(function(){
         var pixels = $(this).val();
         var pix_txt = pixels + "px";
         createCookie("font_size",pix_txt, Date.UTC(2020, 5, 10), "/");
         $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
         $('#data-table th').css('font-size',pix_txt);
         $('p').css('font-size',pix_txt);
         $('body').css('font-size',pix_txt);
    });


    if (readCookie("font_size")){
            pix_txt = readCookie("font_size");
            $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
            $('#data-table th').css('font-size',pix_txt);
            $('p').css('font-size',pix_txt);
        }
</script>
{% endif %} 