<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>domainontology_and_vocabulary3_app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
</head>
<body>
{% if user.is_authenticated %}
<div class="ui vertical inverted left visible sidebar menu">

<a  href="{% url 'domainontology_and_vocabulary3_app:BC10EventList'%}" class="item"> BC10Event</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC11PersonList'%}" class="item"> BC11Person</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC12EcosystemList'%}" class="item"> BC12Ecosystem</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC13OrganizationList'%}" class="item"> BC13Organization</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC14EcosystemEnvironmentList'%}" class="item"> BC14EcosystemEnvironment</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC15WaterAreaList'%}" class="item"> BC15WaterArea</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC16ManMadethingList'%}" class="item"> BC16ManMadething</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC17ConceptualObjectList'%}" class="item"> BC17ConceptualObject</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC18PropositionList'%}" class="item"> BC18Proposition</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC19TitleList'%}" class="item"> BC19Title</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC1TLOEntityList'%}" class="item"> BC1TLOEntity</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC20DeclarativePlaceList'%}" class="item"> BC20DeclarativePlace</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC21DataSetList'%}" class="item"> BC21DataSet</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC22EncounterEventList'%}" class="item"> BC22EncounterEvent</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC23DigitalObjectList'%}" class="item"> BC23DigitalObject</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC24RepositoryObjectList'%}" class="item"> BC24RepositoryObject</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC25LinguisticObjectList'%}" class="item"> BC25LinguisticObject</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC26PlaceNameList'%}" class="item"> BC26PlaceName</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC27PublicationList'%}" class="item"> BC27Publication</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC29SpatialCoordinateReferenceSystemList'%}" class="item"> BC29SpatialCoordinateReferenceSystem</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC2TimeSpanList'%}" class="item"> BC2TimeSpan</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC30AppellationList'%}" class="item"> BC30Appellation</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC31PlaceAppellationList'%}" class="item"> BC31PlaceAppellation</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC32IdentifierList'%}" class="item"> BC32Identifier</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC33SpatialCoordinateList'%}" class="item"> BC33SpatialCoordinate</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC34GeometricPlaceExpressionList'%}" class="item"> BC34GeometricPlaceExpression</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC35PhysicalThingList'%}" class="item"> BC35PhysicalThing</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC36AbioticElementList'%}" class="item"> BC36AbioticElement</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC37BiologicalObjectList'%}" class="item"> BC37BiologicalObject</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC38BioticElementList'%}" class="item"> BC38BioticElement</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC39MarineAnimalList'%}" class="item"> BC39MarineAnimal</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC3PlaceList'%}" class="item"> BC3Place</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC40PhysicalManMadeThingList'%}" class="item"> BC40PhysicalManMadeThing</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC41ManMadeObjectList'%}" class="item"> BC41ManMadeObject</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC42CollectionList'%}" class="item"> BC42Collection</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC43ActivityList'%}" class="item"> BC43Activity</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC44AttributeAssignmentList'%}" class="item"> BC44AttributeAssignment</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC45ObservationList'%}" class="item"> BC45Observation</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC46IdentifierAssignmentList'%}" class="item"> BC46IdentifierAssignment</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC47ImageList'%}" class="item"> BC47Image</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC48DatabaseList'%}" class="item"> BC48Database</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC4TemporalPhenomenonList'%}" class="item"> BC4TemporalPhenomenon</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC51PhysicalObjectList'%}" class="item"> BC51PhysicalObject</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC53SpecimenList'%}" class="item"> BC53Specimen</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC54MeasurementList'%}" class="item"> BC54Measurement</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC55MeasurementUnitList'%}" class="item"> BC55MeasurementUnit</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC56DigitalMeasurementEventList'%}" class="item"> BC56DigitalMeasurementEvent</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC57CaptureList'%}" class="item"> BC57Capture</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC58DigitalDeviceList'%}" class="item"> BC58DigitalDevice</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC59SoftwareList'%}" class="item"> BC59Software</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC5DimensionList'%}" class="item"> BC5Dimension</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC60SoftwareExecutionList'%}" class="item"> BC60SoftwareExecution</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC61CaptureActivityList'%}" class="item"> BC61CaptureActivity</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC62StatisticIndicatorList'%}" class="item"> BC62StatisticIndicator</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC63GlobalStatisticLandingList'%}" class="item"> BC63GlobalStatisticLanding</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC64DesignorProcedureList'%}" class="item"> BC64DesignorProcedure</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC6PersistentItemList'%}" class="item"> BC6PersistentItem</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC70GroupList'%}" class="item"> BC70Group</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC71NameUseActivityList'%}" class="item"> BC71NameUseActivity</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC72SpaceTimeVolumeList'%}" class="item"> BC72SpaceTimeVolume</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC75StockList'%}" class="item"> BC75Stock</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC76StockFormationList'%}" class="item"> BC76StockFormation</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC77MatterRemovalList'%}" class="item"> BC77MatterRemoval</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC78AmountofMatterList'%}" class="item"> BC78AmountofMatter</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC79RightList'%}" class="item"> BC79Right</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC7ThingList'%}" class="item"> BC7Thing</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC8ActorList'%}" class="item"> BC8Actor</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BC9ObservableEntityList'%}" class="item"> BC9ObservableEntity</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT10BioticElementTypeList'%}" class="item"> BT10BioticElementType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT11EquipmentTypeList'%}" class="item"> BT11EquipmentType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT12ScientificDataTypeList'%}" class="item"> BT12ScientificDataType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT13DigitalObjectTypeList'%}" class="item"> BT13DigitalObjectType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT14AppellationTypeList'%}" class="item"> BT14AppellationType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT16VisualTypeList'%}" class="item"> BT16VisualType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT17HumanActivityTypeList'%}" class="item"> BT17HumanActivityType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT18KingdomList'%}" class="item"> BT18Kingdom</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT19PhylumList'%}" class="item"> BT19Phylum</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT1TLOEntityTypeList'%}" class="item"> BT1TLOEntityType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT20SubPhylumList'%}" class="item"> BT20SubPhylum</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT21SuperClassList'%}" class="item"> BT21SuperClass</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT22ClassList'%}" class="item"> BT22Class</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT23SubClassList'%}" class="item"> BT23SubClass</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT24FamilyList'%}" class="item"> BT24Family</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT25SubFamilyList'%}" class="item"> BT25SubFamily</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT26GenusList'%}" class="item"> BT26Genus</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT27SpeciesList'%}" class="item"> BT27Species</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT28ScientificActivityTypeList'%}" class="item"> BT28ScientificActivityType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT29IndustrialActivityTypeList'%}" class="item"> BT29IndustrialActivityType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT2TemporalPhenomenonTypeList'%}" class="item"> BT2TemporalPhenomenonType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT30IdentifierAssignmentTypeList'%}" class="item"> BT30IdentifierAssignmentType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT31BiologicalPartTimeList'%}" class="item"> BT31BiologicalPartTime</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT32PersistenTypeList'%}" class="item"> BT32PersistenType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT32PersistentTypeList'%}" class="item"> BT32PersistentType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT33MarineAnimalTypeList'%}" class="item"> BT33MarineAnimalType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT34OrderList'%}" class="item"> BT34Order</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT35PropertyTypeList'%}" class="item"> BT35PropertyType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT36LanguageList'%}" class="item"> BT36Language</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT3PhysicalThingTypeList'%}" class="item"> BT3PhysicalThingType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT4ConceptualObjectTypeList'%}" class="item"> BT4ConceptualObjectType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT5LegislativeZoneTypeList'%}" class="item"> BT5LegislativeZoneType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT6HumanEventTypeList'%}" class="item"> BT6HumanEventType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT7EcosystemTypeList'%}" class="item"> BT7EcosystemType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT8AbioticElementTypeList'%}" class="item"> BT8AbioticElementType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:BT9ActorTypeList'%}" class="item"> BT9ActorType</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:PersonList'%}" class="item"> Person</a>

<a  href="{% url 'domainontology_and_vocabulary3_app:PersonList'%}" class="item"> Person</a>

 </div>
  <div class="ui vertical inverted right visible sidebar menu">
    <form method="post" class="ui form" id = "preferences_form" action="{% url 'domainontology_and_vocabulary3_app:define_preferences'%}">
        {% csrf_token %}
     <h2 class="ui inverted header">UI Preferences configurations</h2>
     <div class="item">
         <label>Background body color:  &nbsp;</label>
         <input type='text' id="body_bgk" name="body_background"/>
     </div>
     <div class="item">
         <label>Font color:  &nbsp;</label>
         <input type='text' id="font_color" name="font_color"/>
     </div>
     <div class="item">
        <label>Font size:  &nbsp;</label>
        <input type='number' style = "width:30%" id="font_size" name="font_size"/><span>px</span>
    </div>
     <button id =  "save_preferences"  type="submit" class="ui fluid positive medium button submit">Save</button>
    </form>
    <div class="item"></div>
    <a  href="/vowl" class="item"> Ontology Visualisation</a>
 </div>

 <div class="pusher">
         <div class= "ui center aligned raised segment">
            <h1 class="ui center aligned header">domainontology_and_vocabulary3_app</h1>
        </div>
        {% block content %} 
        {% endblock %} 
</div>
{% else %}
    <div class= "ui center aligned raised segment">
        <h1 class="ui center aligned header">domainontology_and_vocabulary3_app</h1>
    </div>
    <div class="ui one column stackable center aligned page grid">
        <div class='column twelve wide'>
            <div class='ui center aligned segment container'>
                <a href="{% url 'domainontology_and_vocabulary3_app:signup'%}"><button>Sign up</button></a>
                <a href="{% url 'login'%}?next={{request.path}}"><button>Sign in</button></a>
            </div>
        </div>
    </div>
{% endif %} 
</body>

{% if user.is_authenticated %} 
<script>
    function createCookie(key, value, date,path) {
        var expiration = new Date(date).toUTCString();
        var cookie = escape(key) + "=" + escape(value) + ";expires=" + expiration + ";path="+ path+";";
        document.cookie = cookie;
    }      

    function readCookie(name) {
    	var key = name + "=";
    	var cookies = document.cookie.split(';');
    	for (var i = 0; i < cookies.length; i++) {
    		var cookie = cookies[i];
    		while (cookie.charAt(0) === ' ') {
                cookie = cookie.substring(1, cookie.length);
            }
    		if (cookie.indexOf(key) === 0) {
                return cookie.substring(key.length, cookie.length);
            }
    	}
    	return null;
    }

    function getColor(color_string){
        var hex_value1 = color_string.slice(3,9);
        hex_value = "#"+hex_value1;
        return hex_value;
    }

    $('#body_bgk').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('background-color',selectedBGD);
         createCookie("body_bgk", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("body_bgk")){
            body_bgk = getColor(readCookie("body_bgk"));
            console.log("body bg",body_bgk);
            $('body').css('background-color',body_bgk);
        }
    else{
        $('body').css('background-color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#body_bgk").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

        
        
       $('#font_color').change(function(){
         var selectedBGD = $(this).val();
         $('body').css('color',selectedBGD);
         createCookie("font_color", selectedBGD, Date.UTC(2020, 5, 10), "/");
    });
    var randomNumberBetween0and9= Math.floor(Math.random() * 10);
    var palette_colors = ['#007bff', '#6c757d', '#28a745','#dc3545','#000000','#ffc107', '#17a2b8','#f8f9fa', '#343a40', '#ffffff'];
    if (readCookie("font_color")){
            font_color = getColor(readCookie("font_color"));
            console.log("font_color",font_color);
            $('body').css('color',font_color);
            $('h1').css('color',font_color);
            $('a').css('color',font_color);
            $('label').css('color',font_color);
            $('h2').css('color',font_color);
        }
    else{
        $('body').css('color',palette_colors[randomNumberBetween0and9]);	
    }
        $("#font_color").spectrum({
                        showPaletteOnly: true,
					    preferredFormat: "hex",
						showPalette:true,
						color: '#000000',
						palette: palette_colors,
                });

    $("#font_size").change(function(){
         var pixels = $(this).val();
         var pix_txt = pixels + "px";
         createCookie("font_size",pix_txt, Date.UTC(2020, 5, 10), "/");
         $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
         $('#data-table th').css('font-size',pix_txt);
         $('p').css('font-size',pix_txt);
         $('body').css('font-size',pix_txt);
    });


    if (readCookie("font_size")){
            pix_txt = readCookie("font_size");
            $('table#data-table.ui.center.aligned.sortable.celled.table').css('font-size',pix_txt);
            $('#data-table th').css('font-size',pix_txt);
            $('p').css('font-size',pix_txt);
        }
</script>
{% endif %} 